[2019-06-19 22:38] fool opened #1 "lifecycle question - parsing redirects & headers post-build"
This looks amazing and I can't wait for these stages to be configurable (I don't actually know if that is on the roadmap, but it would solve/mitigate a lot of problems that we'll talk about tomorrow).  This however seems like something worth checking on right now:

In Looking at https://github.com/netlify/netlify-build#lifecycle I see a "parseconfig" step at the beginning - but it also needs to ha

[2019-06-20 00:57] DavidWells opened #2 "[Question] do we need gutenburg?"
https://github.com/netlify/netlify-build/blob/master/src/install/go/gutenberg.js

Project seems dead. Perhaps time to chuck it and see if anyone misses it?

[2019-06-20 01:04] DavidWells opened #3 "[Question] Zip & ship installed twice?"
Why is zip and ship installed twice?

Here https://github.com/netlify/build-image/blob/9e0f207a27642d0115b1ca97cd5e8cebbe492f63/Dockerfile#L348
and https://github.com/netlify/build-image/blob/9e0f207a27642d0115b1ca97cd5e8cebbe492f63/run-build-functions.sh#L495

[2019-06-20 01:06] DavidWells opened #4 "[Question] Where is Java version coming from?"
`JAVA_VERSION=default_sdk`

`default_sdk` what is this?

https://github.com/netlify/build-image/blob/f9c7f9a87c10314e4d65b121d45d68dc976817a2/run-build-functions.sh#L295

[2019-07-08 03:38] swyxio opened #5 "[plugin] monorepo plugin"
this is one of those hot issues that woudl be nice to have a first class soln for https://github.com/netlify/build-image/issues/196

i see in the readme there's also this issue https://github.com/netlify/product/issues/121

[2019-07-08 03:38] swyxio opened #6 "[ignore, duplicate]"
this is one of those hot issues that woudl be nice to have a first class soln for https://github.com/netlify/build-image/issues/196

[2019-07-08 03:40] #6 closed, assigned to nobody

[2019-07-08 05:49] DavidWells opened #7 "Simplify build folder structure"
### Simplified Build Env

The folder structure of the build environment is also being revamped to streamline & simplify how users interact with it.

**Proposed structure:**

- `.netlify` - Main folder
- `.netlify/src` - Source code from repo, zip, tar
- `.netlify/cache` - Files persisted across builds
- `.netlify/cache/dependencies` - All dependencies are cache here. These are used for lookup / in

[2019-07-08 05:54] DavidWells opened #8 "Improve caching strategy"
In an effort to have better mono repo support

We need a more effective default caching strategy.

If node_modules are installed in sub folders (sub site or function dirs) we need to cache those by default

Refs:
- https://github.com/netlify/netlify-build/issues/5
- [mono-repos](https://github.com/netlify/product/issues/121), [related](https://github.com/netlify/buildbot/pull/309), [ref](https://g

[2019-07-08 05:56] DavidWells opened #9 "Port bash script into node package"
The initial idea is to start by reworking the complex bash script that actually drives the build command, including dependency installs and build caching.

[https://github.com/netlify/buildbot/blob/master/script/run-build.sh](https://github.com/netlify/buildbot/blob/master/script/run-build.sh)

Replacing this with a node.js script would be a good start towards being able to rely on the same module

[2019-07-08 05:58] DavidWells opened #10 "Design New Build process"
Netlify Build is flexible & built to support any kind of build flow.

It has a pluggable lifecycle that users can hook into to customize how the build operates

## Build Lifecycle

The build lifecycle contains these hooks.

- `init` - Build initialization
- `configParse` - Parse netlify config & resolve any dynamic configuration
- `getCache` - Fetch previous build cache
- `install` - Install proje

[2019-07-08 06:00] DavidWells opened #11 "Env variable support in `netlify.toml`"
Add `env` variable support to `netlify.toml`

Ref: https://github.com/netlify/netlify-config

[2019-07-08 06:05] DavidWells opened #12 "[Moved https://github.com/netlify/build/issues/39] Improve heuristics detection"
In an effort to speed up build times, we need to trim down the build image used as much as possible.

Having advanced heuristics of what the projects needs to run should help.

There are a couple of different methods we can use for this:

- Parsing & resolving build commands
- Leveraging https://github.com/netlify/netlify-dev-plugin/tree/master/src/detectors
- Allowing users to specify runtimes ne

[2019-08-02 17:11] DavidWells opened #14 "[Research] Other build tools"
# Other CI/CD config research

Examples of other CI/CD configuration files.

- [Travis](#travis)
- [AWS codeBuild](#aws-codebuild)
- [GCP cloudBuild](#gcp-cloudbuild)
- [Circle CI](#circle-ci)
- [Codeship CI](#codeship-ci)
- [Github Actions](#github-actions)
- [Gitlab CI](#gitlab-ci)
- [Serverless lifecycle](#serverless-lifecycle)
- [Other CI tools](#other-ci-tools)

## Travis

[link](https://docs

[2019-08-05 16:11] sw-yx opened #16 "make sure postbuild hooks don't block site going "live""
there's technically a `deploy` lifecycle so really we should move any blocking things to `saveCache`, `manifest`, and `finally`, however a lot of people will be abusing `postbuild` to do stuff and wonder why their deployments are slow.

so this issue just tracks two things:

- make sure `saveCache`, `manifest`, and `finally` dont actually block "site going live"
- how to warn against people misusi

[2019-08-05 17:06] swyxio opened #17 "[question] run lighthouse X times?"
lighthouse results aren't stable. we can offer to do multiple runs in parallel and average them?

[2019-08-05 17:10] sw-yx opened #18 "composable plugins"
![image](https://user-images.githubusercontent.com/6764957/62482131-5b7c1200-b782-11e9-99e3-c6042068ca0c.png)

if this is a thing we're going to go there eventually, so might as well have this discussion now.

can take the form of single-level "presets" like babel does or "plugins all the way down" like gatsby does

[2019-08-07 05:46] DavidWells opened #20 "[plugin] Critical CSS plugin"
Scan built files and inline critical CSS via https://github.com/addyosmani/critical

[2019-08-07 05:56] DavidWells opened #21 "[plugin] scan dependancies for security vulnerabilities"
Pre build scan dependencies for security issues via https://snyk.io

[2019-08-07 05:58] DavidWells opened #22 "[plugin] scan source code for exposed keys"
Pre build scan repo source code for exposed secrets via https://github.com/auth0/repo-supervisor

[2019-08-07 06:07] DavidWells opened #23 "[plugin] Using guess.js for prefetch/preload/etc"
Post build inject `prefetch`, `preload`, etc tags for popular pages based on site analytics.

https://guess-js.github.io/

Using machine learning + analytics data to make sites load smarter

[2019-08-07 14:20] #17 closed, assigned to nobody

[2019-08-12 19:43] swyxio opened #24 "[plugin] encrypted files plugin"
encrypt/decrypt files so people can commit yet-to-be-public files to github?

we can use env vars for now, but someday we may want to use netlify secrets.

[2019-08-12 19:44] swyxio opened #25 "[plugin] error handling plugin"
for "self healing builds"?

[2019-08-15 14:59] swyxio opened #26 "[plugin] broken route detection plugin"
scan deployed files for all html files, save them with an ID

on new build, rescan and diff (vs specified ID or previous build), and yell at user if any missing files aren't accounted for via redirects.

(optional) fuzzy algo to suggest redirects for user to copy and paste in case files simply moved.

clientside routes are ofc out of scope.

[2019-08-15 15:01] swyxio opened #27 "[netlify-plugin-lighthouse] remaining issues to do"
- [ ] offer suggestions on fixing, by investigating lighthouse ci cli
- [ ] allow people to reference by build ID instead of only alias
- [ ] switch persistence path in production

[2019-08-26 23:19] sw-yx opened #28 "Setup Sites for Builds Testing"
brought up in donut today with @fool https://github.com/netlify/build-tests

[2019-08-29 04:03] sw-yx opened #29 "[Plugin idea] versioned site plugin"
so lets say i have a v1 site

then i develop a v2

i use this plugin to put v1 into cache, and namespace it into `foo.netlify.com/v1` and then v2 takes over the root.

so on and so forth

i dont know what the api would look like but i think this would be handy

a lot of people use branch deploys for this and maybe they dont have to

[2019-08-31 05:34] swyxio opened #30 "watch mode?"
after wasting about 30 mins debugging builds today i realized that a watch mode for netlify-build would be quite nice.

i'm not 100% sure we need it - could we just use `nodemon` to do the same thing? or what else can we add to a watch mode that nodemon wouldn't know about? (i think its likely we can add things, thats why i am opening this issue)

[2019-08-31 16:34] sw-yx opened #31 "[plugin idea] spa form plugin"
specify routes for forms, render the html in puppeteer, pick out forms, programmatically create the forms

open question: how to create the forms inside netlify-build?

ANOTHER APPROACH: just directly name the forms without bothering to render and trust that the names will match

[2019-09-05 22:15] swyxio opened #32 "Core plugins for post-processing steps"
including forms and asset minification

[2019-09-11 04:04] swyxio opened #33 "[plugin] netlify-build-analyzer"
a plugin that bundles a bunch of common checks that newbies might forget to do (typically webpack related), for example:

- large initial load bundle
- not vendoring js chunk
- loading styles in js instead of with `style-loader`

https://www.youtube.com/watch?v=V9dZ8dHwX50&list=WL&index=68&t=99s

[2019-09-16 00:21] sw-yx opened #34 "use jest-validate to print friendly messages for configuration screwups"
**- Do you want to request a *feature* or report a *bug*?**
feature

**- What is the current behavior?**
hard crash on misconfiguration

**- What is the expected behavior?**
https://www.npmjs.com/package/jest-validate

[2019-09-25 04:50] DavidWells opened #38 "Add config validation utility"
We need a utility for verifying & validating user config. Something like https://github.com/airware/asl-validator but for the allowed values of the resolved object from a `netlify.[toml]` file

This utility can be used by multiple packages build/cli/dev etc.

We can also use this schema as source of truth to generate the documentation so there isn't ever a mismatch or missing values.

Initially we

[2019-09-25 04:51] #30 closed, assigned to nobody

[2019-09-25 05:04] DavidWells opened #39 "Add @netlify/heuristics package"
We need a nice way to figure out different information about a project from its source code.

`@netlify/heuristics` (working title) would be the module that detects what kind of a project the repo is, including:

- [x] The type of static generator used
- [x] The functions setup (what runtime JS or Go)
- [ ] What binaries are used in the `build.command` See https://github.com/netlify/netlify-build/

[2019-09-25 05:19] DavidWells opened #40 "Scaffold.js Work"
[Scaffold.js](https://github.com/netlify/netlify-build/blob/master/packages/%40netlify-build/src/scaffold.js) is a re-implementation of these 2 bash scripts:

- https://github.com/netlify/buildbot/blob/master/script/run-build.sh
- ^ ran by run-build.sh https://github.com/netlify/build-image/blob/xenial/run-build-functions.sh

This bash script is responsible for the "magic" of the build image where

[2019-09-25 05:21] DavidWells opened #41 "Add CLI Command"
Add `netlify build` CLI command

[2019-09-25 18:02] ehmicky opened #54 "Renaming to just `build`"
Should the GitHub repository be renamed from `netlify/netlify-build` to `netlify/build`?

Not very important issue, but I was wondering.

[2019-09-25 18:08] ehmicky opened #55 "Renaming packages directories"
This is not an important issue at all, but I was wondering if we could rename the directories of the packages. Mostly because it's currently a little annoying when doing lots of `cd` in the terminal:
  - `@` needs to be backslash-escaped first to allow Tab-autocomplete
  - `netlify-plugin-*` requires two Tab autocompletions (one for `netlify-plugin-`, a second for the rest of the name).

My sugges

[2019-09-25 19:38] #24 closed, assigned to nobody

[2019-09-27 09:25] ehmicky opened #68 "Syntax for `plugins` configuration property"
At the moment the syntax for the `plugins` configuration property is:

[code]

I think representing a collection by using first an array then a single-property object is a little uncommon and adds one level of indentation.
Also using file paths as object keys feels a little wrong (or is that just me?).

What do you think of the following alternative?

[code]

On one hand it requires typing one mor

[2019-09-27 21:00] #11 closed, assigned to DavidWells

[2019-09-28 14:29] ehmicky opened #81 "What's our Node.js versioning strategy?"
What's our strategy for Node.js versions?

This issue is not about how do we implement it (transpiling, etc.) nor which specific version we want to target, but about the requirements, i.e. what do we need to support from a business/end-user standpoint?

We have three parts that could be thought independently when it comes to Node.js versions:
  1. Our code
  2. User's code (build commands and life

[2019-09-29 22:42] sdras opened #83 "Feedback on Build Plugins"
This is awesome! The build plugins are so much fun to play with. @DavidWells asked for some feedback, here's what I've seen from writing a couple so far.

- It would be nice to have a hook to detect whether the build has failed, (separate from the lifecycle hooks). The builds are non-deterministic enough to warrant it because everyone's build is going take slightly different amounts of time, detec

[2019-09-30 16:28] DavidWells opened #95 "Add benchmarking to test suite"
We need a way to validate improvements are making things speedier!

The proposal here is adding in some benchmarking

Perhaps we can test `master` branch vs previous published versions of the package and verify the results?

Also a way to verify PRs don't have major perf dips would be awesome 😍

https://www.npmjs.com/package/benchmark might be a good fit for this

[2019-09-30 21:05] DavidWells opened #104 "Odd linting errors"
Maybe just my IDE but I'm seeing this in `build/bin.js`

![image](https://user-images.githubusercontent.com/532272/65917003-4a6b0e00-e38b-11e9-8269-532c3dfe375e.png)

Temporarily disabled this via `/* eslint-disable node/no-unpublished-bin,node/no-unsupported-features */`

Is node 4 set as a version somewhere in dev tooling?

[2019-09-30 22:22] #54 closed, assigned to nobody

[2019-10-01 04:40] DavidWells opened #107 "Naming conventions for plugins"
We need a standard naming convention for plugins.

There are 2 types of plugins:

- Internal plugins releases & maintained by Netlify
- External community plugins

## Internal

Possible conventions:

[code]

[code]

## External

[code]

[code]

Standardizing around `netlify-plugin-{name}` will make it easier for people to find plugins on NPM

[2019-10-01 13:11] ehmicky opened #117 "Question about `onError`"
Is `onError` only meant to be used within plugins, or is it also available to users as `config.build.lifecycle.onError`?

[2019-10-01 21:31] DavidWells opened #134 "Ensure all value types can be logged with console.log w/ redaction"
Getting some console.log issues when trying to log out an execa `subprocess` in a plugin.

[code]

Stack trace:

[code]

It appears that deep-map logic doesn't like this object

[2019-10-01 21:35] #104 closed, assigned to ehmicky

[2019-10-02 10:10] #134 closed, assigned to ehmicky

[2019-10-02 10:47] #117 closed, assigned to DavidWells

[2019-10-02 10:57] ehmicky opened #141 "Allow typed template variables"
(This is a continuation of the discussion of #70)

At the moment template variables (such as `${env:PORT}`) always evaluate to strings.

This means it is currently not possible to use template variables with configuration options or plugin options that are numbers or booleans, such as `plugin.enabled` or `plugin.options.port`.

We could fix this by coercing the value type.

For example using the f

[2019-10-02 17:00] ehmicky opened #161 "Add a structured log system"
In an effort to support future UI work in app.netlify.com, we need to allow for plugins to output logs.

These logs will:

- Be consumed by netlify UI
- Be shippable to third party logging systems
- ...

The idea is to capture `console.log` and any other output returned from plugins and save them to a structured log file.

Those structured log objects should:
  - be converted to human-friendly con

[2019-10-02 19:58] DavidWells opened #162 "[plugin] MongoDB Atlas"
Create a Netlify build plugin that allows users to provision MongoDB atlas databases for a site.

The user will need to supply their mongo API key from atlas.

The first time it runs, it will create a database instance

Example config:

[code]

[2019-10-03 01:07] #3 closed, assigned to nobody

[2019-10-03 01:07] #4 closed, assigned to nobody

[2019-10-03 01:07] #2 closed, assigned to nobody

[2019-10-03 01:30] #10 closed, assigned to DavidWells

[2019-10-03 02:36] DavidWells opened #163 "[Utilities] Create caching utilities"
We need a caching utilities method to help users `get`, `save`, and `delete` items from the cache folder in between builds.

The cache locally would be in `.netlify/cache` and in remote CI it would be in `/opt/build/cache/` (`/opt/build/cache/` is current cache folder in netlify buildbot)

All the methods should fail gracefully.

The `save` should create directory paths if they don't exist etc.

[

[2019-10-03 03:39] DavidWells opened #164 "Camelcase lifecycle pre/post hooks"
Discussed here https://github.com/netlify/build/pull/94#issuecomment-537195286

Make lifecycle hooks camelcase by default (and how we doc them) but allow for lowercase

Preferred:

[code]

Allowed but not encouraged:

[code]

[2019-10-03 09:39] ehmicky opened #165 "Shareable configurations"
We could allow configurations to be shareable like ESLint does.

This could be as simple as adding an `extends` property that points to either a Node.js module name, or to a file path. The shared configuration would be deeply merged, with lower merging priority.

We could also have naming conventions such as `netlify-build-config-*`. And npm tags and GitHub tags `netlify` and `netlify-build-config

[2019-10-03 10:02] ehmicky opened #166 "Plugins sandbox"
We should sandbox plugins by running them in child processes.

Otherwise plugins can modify global variables and core Node.js methods, making all kinds of security hacks possible.

This would also allow us to restrict which environment variables can be accessed.

Other reasons we might want plugins to be run in child processes:
  - this is the only way to run any plugin in parallel without produci

[2019-10-03 10:02] ehmicky opened #167 "How do we prevent plugins from logging secrets?"
Our current solution of monkey-patching `console.log()` does not work in the following cases:
  - `console.error()` and other `console.*()` methods
  - `process.stdout.write()` and `process.stderr.write()`

There might be other ways to print to user's console. Instead of monkey-patching more methods, I think we should spawn plugins in a child process (see #166).

[2019-10-03 10:13] ehmicky opened #168 "Run plugins in parallel"
Build speed is very important to our users. Should be run plugins in parallel by default?

The following would still happen serially:
  - lifecycle hooks, e.g. anything triggered in `build` always happen before anything in `buildFunctions`
  - when user specifies an array of commands, those would be run in order

However, for a specific lifecycle hook, everything else should be run in parallel.

O

[2019-10-03 10:28] #55 closed, assigned to nobody

[2019-10-03 10:37] ehmicky opened #170 "When should we write `netlify.toml`?"
We write `netlify.toml` for the BuildBot at the end of the build.

At the moment, this only happens when the build is successful. Should this also happen when the build failed?

[2019-10-03 16:01] ehmicky opened #181 "What are the name of the secret environment variables?"
At the moment we are hard-coding the [names of the environment variables](https://github.com/netlify/build/blob/89dd6d3c3bd15b8081e503532cb4251dcac91067/packages/build/src/log/patch.js#L12) to replace with `[secrets]`.

What are supposed to be those names? Are those names defined by us, by users or both?

[2019-10-03 16:33] ehmicky opened #182 "Difference between `init` and the top-level plugin function"
In the following plugin:

[code]

It is not very clear what is the difference between the top-level function and the `init` function. Even if there is a one, users might not be sure which one to use.

`init()` provides with more arguments, such as the `pluginConfig`, `api` and `constants`. It also can run in parallel (depending on #168) and generally speaking can benefit from all the features give

[2019-10-03 16:40] #170 closed, assigned to nobody

[2019-10-03 17:00] #164 closed, assigned to ehmicky

[2019-10-03 18:03] ehmicky opened #185 "Extract plugin validation logic"
We should extract the plugin validation logic to its own package so that plugin authors can use to validate their plugins before publishing.
What do you think?

[2019-10-03 21:30] #182 closed, assigned to nobody

[2019-10-04 04:54] DavidWells opened #186 "Plugin outputs"
Plugins needs to be able to return values for other plugins to reference.

For example:

[code]

`${mongoPlugin.outputs.DB_URL}` won't resolve when `netlifyConfig` is ran initially, it will need to be populated after the fact.

This also means plugin lifecycle orders might need to be shifted to run in a specific order or a [D.A.G](https://en.wikipedia.org/wiki/Directed_acyclic_graph)

Inside plugi

[2019-10-04 05:26] DavidWells opened #187 "[Plugin idea] Report dependency usage"
Using https://github.com/segmentio/dependency-report scan js files for dependancies and how they are used. Cross reference with package.json and report unused deps.

Bonus: cross reference the used deps with https://github.com/siddharthkp/bundlesize and report LARGE deps that have room for improvement

[2019-10-04 08:55] ehmicky opened #188 "Change configuration syntax"
From an array of `plugins`:

[code]

To an object:

[code]

See #68.

[2019-10-04 09:03] ehmicky opened #189 "Plugin timeout"
From #68, we propose the following syntax:

[code]

Some questions:
  1. Is it the timeout per plugin hook, or for all hooks a given plugin?
  2. If this is the timeout of all hooks of a given plugin, do we subtract the time slices where no hook of that plugin is running (for example when other plugins are running)?
  3. Wouldn't it be simpler to let user define a single timeout for all plugins in

[2019-10-04 09:06] ehmicky opened #190 "Skip lifecycles"
From #68, we propose the following syntax:

[code]

It seems to me this feature might be creating some issues:
  - Shouldn't users not have to know about plugin internals (such as which lifecycles are used)?
  - Also, wouldn't this break some plugins that rely on some lifecycles to be run? Instead if plugins have some steps that are optional, they should allow disabling those through plugin option

[2019-10-04 09:16] ehmicky opened #191 "Allow ignoring plugin errors"
From #68, we have the following proposed syntax:

[code]

[2019-10-04 09:17] ehmicky opened #192 "Retry plugins on errors"
From #68, we have the following syntax:

[code]

[2019-10-04 09:20] ehmicky opened #193 "Allow plugins to access specific secret environment variables"
From #68, we have the following proposed syntax:

[code]

This means we are passing this environment variable to the plugins, correct? This would require plugins to be run in child processes (see #168).

What about the other environment variables? How do we know which one should be passed or not to the plugin child process?

[2019-10-04 09:21] #68 closed, assigned to DavidWells

[2019-10-04 10:42] ehmicky opened #194 "Simplify lifecycles"
This idea is a little bold and might be stupid! Just throwing it there to see what you think :)

What if:
  - Only two lifecycles were available: `start` and `end` (before/after `build.command`)
  - Users could trigger specific plugin lifecycles (`start`, `end` or both) by specifying their name in the `build.command` array
  - `build.command` was kept as is, instead of `build.lifecycle`

It seems

[2019-10-04 17:37] #188 closed, assigned to nobody

[2019-10-04 21:28] DavidWells opened #197 "Plugin bundles not validating"
Nested plugins aren't passing validation.

Did something change with validation?

[code]

config

[code]

Plugin code that returns nested plugins

[code]

[2019-10-04 21:38] DavidWells opened #198 "Overriding core plugin lifecycle methods"
The core `@netlify/functions` plugin exposes a `buildFunctions` hook.

I had some logic included (before the refactor) that would allow for plugins to hook in and override the default functionality

This was the override plugin

[code]

`@netlify/functions:buildFunctions` was detected when constructing the build lifecycle and overrode the default function (located in `@netlify/functions`)

The old

[2019-10-04 22:57] #197 closed, assigned to ehmicky

[2019-10-05 00:14] ehmicky opened #200 "Improve API client support"
At the moment the `api` client passed to plugins is `undefined` when no API `token` was set by the user. However many plugins might forget this and crash when this happens.

Also at the moment, plugin `scopes` defaults to `['*']`, i.e. we use blacklisting. Would whitelisting / least privilege principle be more secure?

Should we:
  1. default `scopes` to `[]` instead?
  2. throw an error when no `

[2019-10-05 10:10] #194 closed, assigned to DavidWells, sdras, swyxio

[2019-10-06 23:59] DavidWells opened #201 "[Plugin idea] Optimize image loading"
1. Scan built assets for images
2. Use https://github.com/zouhir/lqip to replace images on site with lower quality base64 images
3. Replace images with base64 + lazy load paths to original assets

[2019-10-07 15:27] #198 closed, assigned to ehmicky

[2019-10-07 15:53] #107 closed, assigned to ehmicky

[2019-10-07 17:59] ehmicky opened #213 "Allow configuration through environment variables"
Any option should be allowed to be passed as either CLI flag or environment variable.

Any `NETLIFY_BUILD_*` (underscored) environment variable would be the same as any CLI flag `--*` (dasherized). This would be quite easy to do by looking up process.env during startup.

For example `netlify-build --this-option true` is the same as `NETLIFY_BUILD_THIS_OPTION=true netlify-build`.

Background discus

[2019-10-07 20:57] ehmicky opened #214 "Update `README`"
The `README` should be updated before making this repository public.

[2019-10-07 21:27] DavidWells opened #215 "Colors in CI stopped working"
Looks like the color changes made broke the log colors in buildbot

Before:

![image](https://user-images.githubusercontent.com/532272/66349804-87487f00-e90e-11e9-9c90-ab65faee8ea5.png)

After:

![image](https://user-images.githubusercontent.com/532272/66349731-6d0ea100-e90e-11e9-93d9-214c3d26ea09.png)

We need to bring back the 🌈

[2019-10-08 05:28] DavidWells opened #216 "[Utilities] Create caching utility"
We need a helper function that will get/set/delete files from a cache directory.

On a local machine that would be the `.netlify/cache` dir

Inside Netlify CI that directory is `path.join('/opt/build/cache')`

The caching utilities should be smart and save file hashes. A v1 attempt at this was done over here: https://github.com/DavidWells/cache-me-outside

These utilities will be used by plugin au

[2019-10-08 05:33] DavidWells opened #217 "[Utilities] Create redirects utility functions"
We need a utility method for dealing with Netlify redirects

To `get`, `set`, and `delete` redirects from `_redirects` file or from Netlify config file.

An example of `set` can be seen here: https://github.com/netlify/build/blob/master/packages/netlify-plugin-functions/index.js#L141-L206 to programmatically add redirects.

This utility method will be exposed to plugin authors to make it easier fo

[2019-10-08 05:39] DavidWells opened #218 "[Utilities] Create exec utility functions"
We want to make it very easy for plugin authors to be able to run shell commands & execute binaries.

To do this we can expose an `exec` or `run` utility method from utilities

This might be as simple as a wrapper around `exec` or exposing execa from the utils

[2019-10-08 08:26] #200 closed, assigned to nobody

[2019-10-08 10:43] ehmicky opened #220 "How to prevent secrets being shared between plugins through the `config` parameter?"
We are currently passing the `config` to plugins. I am wondering if this might be an issue when the configuration might include secret information, such as access keys?

Plugins already have access to their own `pluginConfig`. However some plugins do need access to the configuration, e.g. `config.build.publish` and `config.build.functions` are used by `netlify-plugin-functions`.

Some possible sol

[2019-10-08 16:26] swyxio opened #223 "document and fix BUILD_DIR"
i'm trying to use https://github.com/netlify/build/blob/152c673098696827e31cb4e186e3407f3083cfd0/packages/build/src/core/instructions.js#L162

which i think should point to where-ever the user has designated the build dir should be, but instead its just a simple path.join that isnt useful. lets make it useful?

[2019-10-08 17:14] sw-yx opened #224 "[Utilities] Add utiltity for parsing redirects? or parse redirects for plugin authors?"
right now its stuck in cli.

related https://github.com/netlify/cli/issues/565

[2019-10-08 19:46] sw-yx opened #226 "[plugin] subfont plugin"
subset fonts for the speed

https://www.npmjs.com/package/subfont

[2019-10-08 19:50] sw-yx opened #227 "Plugin presets"
figured its worth brainstorming what presets we can build once https://github.com/netlify/build/pull/179 gets merged. also serves as a battle test of @ehmicky's design choices.

- @netlify/preset-webperf
	- lighthouse plugin
	- subfont plugin
	- svgoptimizer plugin
- @netlify/preset-buildchecks
	- lighthouse plugin
    - 404-no-more
	- cypress?

[2019-10-08 20:15] #215 closed, assigned to ehmicky

[2019-10-08 20:39] DavidWells opened #231 "Build dies on `xargs`"
@overlordofmu observed from strange behavior when adding `xargs --show-limits` to the `build.lifecycle`

[code]

https://github.com/netlify/build-example-basic/commit/3b2961f3ecda139c17cc766454cbb4b5cd3bbe4c#diff-cd0b1f2ba01751390927498eb272b371R10

The build hangs and dies after 15/30 min timeout

![image](https://user-images.githubusercontent.com/532272/66431482-ea024f00-e9d0-11e9-942c-50fa209b2

[2019-10-08 22:40] DavidWells opened #234 "[Plugin] Build Cypress plugin"
Scaffolded out here https://github.com/netlify/build/blob/master/packages/netlify-plugin-cypress/index.js (but no logic 🙈)

Example config

[code]

(you can omit `CYPRESS_RECORD_KEY` from config too if its already set in users site settings)

Pseudo code

[code]

There are many possibilities here. The above is just a quick example.

As we improve the `parallelization` of the system I think this wi

[2019-10-09 01:35] #231 closed, assigned to nobody

[2019-10-09 10:11] #223 closed, assigned to nobody

[2019-10-09 13:22] sw-yx opened #238 "document local plugins, make it part of the core Getting Started flow, make it easy to vendor plugins"
its a good idea to start this habit early so that people dont overly rely on official plugins and we're not forced to expand api surface area just to support increasing usecases.

so we should

1. document how to make and use a local plugin
2. maybe teach it before we show how to use a premade plugin
3. write a small cli to "vendor" a plugin easily:
	- copy over dependencies
	- copy over source co

[2019-10-09 18:16] #166 closed, assigned to nobody

[2019-10-10 00:24] sw-yx opened #241 "Add programmatic way to cancel builds"
people want to skip builds to save build minutes

https://netlify.slack.com/archives/C0A9B63L0/p1570664535016000

Would be cool if the build plugin system or just the nextgen build script could handle cases like that in a really transparent way

2 replies

DWells  20 minutes ago
Yeah been thinking about a nice user friendly layer on top of git. DangerJS has a nice abstraction for this.
So a plugin

[2019-10-10 15:09] ehmicky opened #255 "Allow skipping methods instead of using a top-level function in plugins"
Using a top-level function in plugins has several issues:
  1. It complicates features such as plugin outputs (#186). The top-level function gets the `pluginConfig` as input. If that `pluginConfig` contains reference to another plugin, this means the plugin must wait for that other plugin to be even created.
  2. It makes syntax look more complex than it should. For example compare:

[code]

with:

[2019-10-10 17:49] #255 closed, assigned to nobody

[2019-10-11 02:33] DavidWells opened #257 "Lifecycle naming"
The current lifecycle is

https://github.com/netlify/build/blob/master/packages/build/src/core/lifecycle.js#L9-L26

[code]

(plus the pre/post hooks like postBuild etc)

There are a couple of things to fix before release. Namely with   'build', 'buildSite', 'buildFunctions'.

The order right now would be:

[code]

So `postBuild` happens "early".

Also, `build` and `buildSite` are currently doing t

[2019-10-11 04:34] #26 closed, assigned to nobody

[2019-10-11 08:14] ehmicky opened #258 "Should `finally` lifecycles happen in reverse order?"
For example, if plugin order is `A > B > C` for `init`, the plugin order for `finally` would be `C > B > A`?

[2019-10-11 13:01] bahmutov opened #270 "How does plugin get deployed url in postDeploy hook?"
Imagine you are writing a `postDeploy` hook - like Lighthouse or Cypress need to test the deployed site. How would the plugin get the deployed unique url to test?

[2019-10-11 13:56] bahmutov opened #271 "How are plugin's own dependencies installed?"
I am trying to create cypress plugin locally in a forked `build-example-basic` repo (so I can run it on Netlify under https://app.netlify.com/sites/condescending-knuth-7cff53)

my root package has plugin as a dev dependency

[code]

The plugin in `plugins/cypress` has its own `package.json`

[code]

On the first deploy, plugin's dependencies ARE installed, for example in https://app.netlify.com/si

[2019-10-11 18:29] DavidWells opened #273 "Automatically install dependancies for ./relative/path plugins"
If a local plugin is used we need to:

1. If if it has package.json
2. If yes, install the dependancies of that local plugin

So right after netlify config is resolves, we should check the plugins object, find any local plugins, check if they have package.json and install their dependancies.

In future, we will optimize this flow by fetching deps from cache.

[2019-10-11 21:35] #258 closed, assigned to nobody

[2019-10-11 23:08] #257 closed, assigned to nobody

[2019-10-12 20:45] #5 closed, assigned to nobody

[2019-10-12 20:46] #32 closed, assigned to nobody

[2019-10-14 06:09] DavidWells opened #277 "Improve Error stack traces"
After switching to child processes it's a little harder to back trace where errors are occuring in plugins.

![image](https://user-images.githubusercontent.com/532272/66731873-643a3580-ee0e-11e9-9358-14783e65e463.png)

Can we show the error from child process vs the one thrown by execa?

[2019-10-14 10:19] #213 closed, assigned to nobody

[2019-10-14 16:35] ehmicky opened #280 "Does not work on Node `8.10.0` due to RegExp used in configorama"
Our code currently fails on Node `8.10.0` due to the following RegExp in [configorama](https://github.com/DavidWells/configorama/blob/master/lib/main.js#L715) (the use of capture groups `(?<>)`).

[2019-10-14 17:51] #280 closed, assigned to nobody

[2019-10-15 00:04] #41 closed, assigned to DavidWells

[2019-10-15 11:13] #277 closed, assigned to ehmicky

[2019-10-16 23:14] Munter commented on #226
I'd love to give this a go :)

I can probably take some time to have a proof of concept at the end of the week

[2019-10-16 23:24] ehmicky commented on #226
Hi @Munter,

Could not find a better person to implement this plugin! :)

Please let us know if you have any questions or encounter any issues.

[2019-10-16 23:31] sw-yx commented on #226
lol! wow, thanks for the very kind offer! this is an honor 🙇🏼‍♂️

[2019-10-17 09:36] Munter commented on #226
Subfont requires external python dependencies to do local font subsetting. In a normal netlify setup I can just add a `requirements.txt` to get the build container to pull in those. Is there an equivalent for build plugins?

[2019-10-17 09:49] ehmicky opened #315 "Allow plugins to install Python dependencies"
Follow up on https://github.com/netlify/build/issues/226#issuecomment-543092749.

Plugins can currently have their own Node.js dependencies but not their own Python dependencies.

Some potential solutions to this problem:
  1. Let plugins run installation commands (using [`execa`](https://github.com/sindresorhus/execa)). This would be bad for plugin author experience and bad for performance. But t

[2019-10-17 09:52] ehmicky commented on #226
This is a tough one. I have added a separate issue #315 to track this problem.

At the moment Netlify Build is written in Node.js and so are Build plugins. We haven't worked on enabling cross-programming languages logic or dependencies yet.

There are some quick fixes I suggested in #315. Is there any way to deliver those Python dependencies as Node.js native addons, or an alternative Node.js libr

[2019-10-17 10:06] Munter commented on #226
We're working on switching to subsetting based on Harfbuzz in https://github.com/Munter/subfont/pull/56 but it's not quite there yet.

I still think a subfont plugin has value, even without the ability to subset locally. My assumption here is that the primary use case for most developers will be the optimization of google fonts, which will still work because we use Google's subsetter

[2019-10-17 16:57] DavidWells commented on #315
Yeah 4. would be best. This would be part of the `scaffold.js` work. Thats were we will expose the `install` hooks for users

We need to start working up the build chain 😃

[2019-10-17 17:49] ehmicky commented on #186
This is how GitHub actions are doing this:
  1. For a given job, there is a single set of commands ("steps") run serially.
  2. Commands can be either shell commands or GitHub actions. Those GitHub actions are conceptually just like shell commands but inside a Docker container and distributed as plugins.
  3. Docker services can be run before all or after all steps.
  4. As a consequence of using

[2019-10-17 21:14] DavidWells commented on #216
@bahmutov no limits on cache sizes right now

[2019-10-17 22:37] talves opened #317 "Deploy (build.publish) setting being ignored"
Using [this example][example], there is a setup for `build.publish` with a value of `public`. There is no build really just a nice simple `index.hml` file in the public path. Using a `netlify.yml` file for the config, but a `netlify.toml` had the same issue.

See [this Deploy log][deploy] and the image below. The deploy is from the root.

![image](https://user-images.githubusercontent.com/784848/6

[2019-10-17 22:50] talves opened #318 "Netlify build on Windows 10 producing an error"
Using [this example][example] on the local system (Win10) gives an error found in the screen capture below.

![image](https://user-images.githubusercontent.com/784848/67053183-6c87be80-f0f5-11e9-869c-45ba5cfeb2ac.png)

Used `--dry --verbose` to give as much info as possible, but it also fails without those tags with same errors.

[example]: https://github.com/talves/netlify-plugin-debug

Node: v10

[2019-10-17 22:53] talves commented on #318
I'm using a local dependency of the `netlify-cli` to try to debug, but did not have luck on first pass. Let me know if there is any information I can give to help debug the issue.

[2019-10-18 03:54] DavidWells commented on #317
Thanks for the report @talves I've reproduced the issue over here.

To get this working, the temporary "fix" is setting the publish directory in the UI for this site

![image](https://user-images.githubusercontent.com/532272/67064657-390e5980-f120-11e9-956f-7e0425fef15d.png)

This should be resolved soon!

[2019-10-18 03:58] DavidWells commented on #318
@ehmicky this is the plugin code https://github.com/talves/netlify-plugin-debug/blob/12806b6b7a97a12a13be257d7ba5332c43fbe79a/plugins/debug/index.js

(long shot) Perhaps this has something to do with the emojis used?

[2019-10-18 08:51] ehmicky commented on #318
We are aiming at completely supporting Windows very soon but at the moment this is likely that `netlify/build` does not work 100% on Windows.

I am going to add CI tests for Windows so we can fix this.

#314 might solve this specific issue (although I am not sure about this).

[2019-10-18 12:03] ehmicky opened #320 "Add Windows support"
None of us is running Windows as a development environment and we haven't run tests in CI on Windows, so we've not quite sure whether this works on Windows or not. #318 seems to indicate it is not.

We need to add Windows to our CI and ensure Windows tests are passing.

[2019-10-18 12:31] ehmicky commented on #273
@DavidWells #313 and #314 would need to be reviewed so I can move on the second part (installing dependencies in Functions).

[2019-10-18 14:12] talves commented on #317
I left the publish directory empty on purpose to test. Also, it was interesting the publish directory would normally fill based on the values in the `.toml` or that is what I thought was the process when creating a new site and picking the github repo. Glad you were able to reproduce.

[2019-10-18 14:33] talves commented on #320
In the Netlify ecosystem today, I would suspect you are going to find a larger percentage of Windows users/devs than you would suspect.

Cross platform is becoming a much greater priority for this ecosystem.

[2019-10-18 14:34] talves commented on #318
@DavidWells FYI, I dev on Windows 10 🤣🤣

[2019-10-18 14:38] ehmicky commented on #320
@talves I agree with you. Cross-platform support is something that I [strongly believe in](https://github.com/ehmicky/cross-platform-node-guide) and it's a priority for us. We will prioritize this issue although this might require a series of different fixes.

[2019-10-18 14:47] talves commented on #320
Let me know if you need me to do some testing. I'm pretty good at debugging also. I haven't looked at the code base yet, but here to help where I can.

Otherwise, I will keep checking out things through CI.

[2019-10-18 14:49] ehmicky commented on #320
Thanks @talves! :pray:

[2019-10-18 15:12] bahmutov opened #337 "How to write plugin config in TOML format?"
Maybe I am not understanding something, but trying to use both `netlify dev` and `netlify build` - seems `netlify dev` wants me to use `netlify.toml` configuration file. This is my file

[code]

But the plugin name is not resolved correctly

[code]

which is weird

[2019-10-18 15:27] bahmutov opened #338 "Error while loading a plugin - the build still passes green"
The build https://app.netlify.com/sites/condescending-knuth-7cff53/deploys/5da9d6d91a65f800081de587 is green, but the plugin actually crashed

getting an error (plugin dependency)

[code]

Which by the way has ignored root level script `"build": "mkdir -p build && cp src/index.html build"` that was supposed to install plugin's dependencies

[2019-10-18 15:46] ehmicky commented on #337
Hi @bahmutov,

The `netlify.toml` has some TOML syntax errors. The `netlify.toml` should be:

[code]

which is the same as the following YAML:

[code]

Does this solve your problem?

We will add some validation for the configuration file (#38) which should help you fix those errors better in the future.

[2019-10-18 15:49] ehmicky commented on #338
Hi @bahmutov,

Thanks for reporting this bug, I will fix this.

[2019-10-18 15:57] Munter commented on #226
I am trying to bootstrap this right now and have run into a wall at the first step. I can't find any information on how to get the netlify-cli to have the `build` command. I've tried pulling down this repo and installed eveything, set `NETLIFY_BUILD_LIFECYCLE_TRIAL=enabled=true` in my env as per the README. Re-installed netlify-cli.

What am I missing?

[2019-10-18 16:04] ehmicky commented on #338
Fixed at #339.

The reason your build is failed seems to be due to #337.

[2019-10-18 16:13] DavidWells commented on #226
Hey @Munter make sure your site is on the "Xenial" image

In build settings

![image](https://user-images.githubusercontent.com/532272/67110416-8f62b300-f187-11e9-9121-85233fe450a1.png)

[2019-10-18 16:26] bahmutov commented on #271
interesting, I don't think `prebuild` hook works anymore

[2019-10-18 16:30] DavidWells commented on #271
try preBuild camelcased

On Fri, Oct 18, 2019 at 9:26 AM Gleb Bahmutov <notifications@github.com>
wrote:

--
- David Wells
Setup a call with me <https://calendly.com/david-wells-netlify>

[2019-10-18 19:01] Munter commented on #226
I an on Xenial, apparently the default for newly created sites. Still can't make the `build` command show up in the normal cli.

I managed to get going by `npm link`'ing https://github.com/netlify/build/tree/master/packages/build for now

[2019-10-18 21:18] Munter commented on #226
I built this: https://www.npmjs.com/package/netlify-plugin-subfont

Seems to work fine in local testing, but I am unable to get build plugins to run on my own site:
https://github.com/Munter/mntr.dk/compare/netlify-subfont-plugin?expand=1
https://app.netlify.com/sites/mntr/deploys/5daa2a86bbaca10007cc8822

I would appreciate if someone could give it a go on a page with either google fonts or local

[2019-10-19 20:23] DavidWells commented on #273
Can we inject `config` as the second param for only core plugins?

This change will effect future plans for dynamic configuration via `js` https://github.com/netlify/build-config-js-example

Using `netlify.js`, a user can import a plugin directly, initialize it with plugin config, alter any default functionality they want, or noOp things they don't want to run. see https://github.com/netlify/build

[2019-10-19 20:46] DavidWells opened #341 "[Proposal] Make plugins config an Array instead of Object"
I’ve been thinking about the `plugin` config declaration.

Plugin config is currently an object. It was implemented this way to support easier access for outputs by their key. However, there are alternative approaches that can achieve the same result described below.

The object is ok, but it's not immediately clear that plugins run in a particular order (like an array). Also an array would be eas

[2019-10-20 11:24] Munter commented on #226
I managed to get set up properly and now have a successful run on netlify!

I noticed a weirdness in the console output. Seems like the lines are being broken in surprising places. It doesn't seem like there is a pattern of a specific column where the line is broken, and it isn't breaking on spaces or word boundaries either:

[code]

[2019-10-20 17:07] Munter commented on #341
The ordering of plugins will certainly help for certain plugins. One of the plugins I have in mind is a file hasher for immutable caching. It _has_ to run last for the caching strategy not to break.

Thumbs up from me

[2019-10-21 09:57] ehmicky opened #343 "Build output is broken down into several lines."
See https://github.com/netlify/build/issues/226#issuecomment-544243448.

[code]

It seems like this might be a BuildBot issue since the timestamp is added by the BuildBot. Locally this problem does not seem to happen.

A temporary fix could be to disable plugin output streaming. I.e. for each plugin lifecycle, we print the full output all at once when the lifecycle ends, instead of streaming it. W

[2019-10-21 09:57] ehmicky commented on #226
Thanks for reporting this issue @Munter! I have added a separate issue for it at #343.

[2019-10-21 10:12] ehmicky commented on #341
This sounds good.

That was actually [my initial suggestion](https://github.com/netlify/build/issues/68#issue-499336655) when we talked about the configuration file syntax :)

I will work on a PR for this.

[2019-10-21 11:03] ehmicky commented on #273
Sure. I've updated #313 to reflect this.

I have merged #313 so I can move forward with this issue, but please feel free to still review it.

[2019-10-21 13:50] ehmicky commented on #341
Done at #345.

[2019-10-21 16:53] ehmicky commented on #273
Netlify Functions automatic installation done at #347.

[2019-10-21 19:30] Munter opened #348 "How to stop a build?"
I have an idea for a plugin that is sort of a test runner. I would like it to be able to stop the build, or mark it as failed.

What is the best way of doing that? Throwing an error? `process.exit(1)` ? Rejected Promise?

[2019-10-21 22:01] DavidWells commented on #343
Yeah we can do this. Only in netlify CI tho. Keep it streaming if it works fine locally

Logging is up in the air right now with SRE team. Need to see where it lands

[2019-10-21 22:12] Munter commented on #343
Locally I'm not seeing the same issues. But locally I don't see the time stamps either

[2019-10-21 22:19] DavidWells commented on #343
Streaming CLI tools, like spinners, etc have always been problematic in CI logs.

We should look for patterns/ways to automatically disable these.

The quick fix for (only) remote CI would be disabling streaming until our logging system can handle it properly.

Personally I like seeing the streaming logs locally to see things chug along 😃

Example from CLI site build:

[code]

This repeats for lik

[2019-10-22 06:48] DavidWells opened #350 "[DX] Clear up error messages"
The clean stack traces from errors don't seem to be working anymore.

Throwing an error from the plugin resulted in a very very large trace

[code]

![image](https://user-images.githubusercontent.com/532272/67263501-2fa52a00-f45d-11e9-99a9-380c73b83655.png)

Can we clean this up and point to the exact issue + line again?

[2019-10-22 06:54] DavidWells commented on #350
Here is another example from remote CI

![image](https://user-images.githubusercontent.com/532272/67263817-12bd2680-f45e-11e9-8040-bb1e7a864f3e.png)

[2019-10-22 06:57] DavidWells commented on #348
`process.exit()` or throwing an error should exit the build.

We need to verify this is the case.

I was also thinking about providing a utility method as well for plugin methods to use.

An example (Does not exist yet)

[code]

[2019-10-22 08:02] Munter commented on #348
I opted for the `process.exit()` approach after testing a bit locally as well: https://github.com/Munter/netlify-plugin-checklinks/blob/master/lib/index.js#L44-L46

The link checking case is pretty similar to a test runner like Cypress. So eventually it would be nice to be able to do things like deploy artifacts, trigger a web hook or a netlify notification. Things along those lines. For now just

[2019-10-22 08:02] #348 closed

[2019-10-22 09:10] ehmicky commented on #338
On the next release, this issue should be solved.

[2019-10-22 09:10] #338 closed

[2019-10-22 10:04] #341 closed

[2019-10-22 10:09] ehmicky opened #351 "Update documentation with the new configuration file syntax"
The configuration file syntax has been changed by #345 and #341 from:

[code]

To:

[code]

The `id` property is optional and is only required when:
  - calling the same plugin twice (with different options)
  - using outputs (a feature we don't have yet)

This issue is to track the progress of updating the documentation to match the new syntax:
- [x] `netlify/build` repository
- [x] https://githu

[2019-10-22 10:18] ehmicky commented on #18
See #227 for current progress.

[2019-10-22 10:21] #273 closed

[2019-10-22 10:22] ehmicky commented on #273
This should be fixed on the next release.

[2019-10-22 10:28] ehmicky commented on #348
Yes if you have a test runner plugin, that plugin should fail when tests is failing. When a plugin fails, the whole build fails. A plugin fails if:
  - exit code is not `0` (including due to an error being thrown top-level)
  - the process was killed [with a signal](https://github.com/netlify/build/issues/343) (e.g. `SIGTERM`)

[2019-10-22 10:30] ehmicky commented on #350
I saw this issue as well. I think I know what the problem is.

[2019-10-22 10:44] #214 closed

[2019-10-22 11:55] ehmicky commented on #343
Fixed in #358.

[2019-10-22 11:58] ehmicky commented on #271
This should be fixed now that #273 is done.

[2019-10-22 12:12] #167 closed

[2019-10-22 12:14] ehmicky commented on #163
Related: #8.

[2019-10-22 14:30] bahmutov commented on #271
I still see failing build because plugin's Node dependencies are not restored

https://app.netlify.com/sites/condescending-knuth-7cff53/deploys/5daf10e9f48b4f000811b78a

[code]

and the failed plugin run still exits with 0

[2019-10-22 14:31] ehmicky commented on #271
@bahmutov we haven't made a release yet, we should be doing one today.

Please let us know though if the problem is still there tomorrow.

[2019-10-22 16:26] ehmicky opened #359 "[Utilities] Create utility for dealing with headers"
Create an utility for parsing and manipulating Netlify headers.

[2019-10-22 16:29] ehmicky opened #360 "[Utilities] Create a git utility"
Create an utility for plugin authors to manipulate git-related information.

[2019-10-22 16:46] #343 closed

[2019-10-23 00:31] DavidWells commented on #337
Plugin formats have been updated to an array like so:

[code]

And in toml it looks like

[code]

[2019-10-23 09:37] ehmicky opened #364 "Enforce naming convention for `plugin.name`"
I think we should validate that `plugin.name` starts with `netlify-plugin-`.

Otherwise some plugins might start with `netlify-plugin-`, others not, giving an inconsistent developer experience.

I don't think there should not be any reasons why this convention would be an issue for plugin authors. Whether a plugin is used internally or externally, plugin authors would benefit more from discoverabi

[2019-10-23 12:10] Munter commented on #364
As a plugin author, I am fine with this

[2019-10-24 12:02] ehmicky opened #370 "Plugin presets"
This is a follow-up on #227 and #18.

We want to allow bundles/presets of plugins.

The last solution we had was to allow plugins to return an array of objects instead of a single object. I started implementing it and realized this solution had many issues:
  1. There's no way for plugin presets to set the configuration of each individual plugin. Calling the plugin top-level function with a `plugi

[2019-10-24 12:03] ehmicky commented on #227
Deduping was implemented by #361 and #369.

Discussion continues at #370.

[2019-10-24 12:03] #227 closed

[2019-10-24 12:03] ehmicky commented on #18
Discussion continues at #370.

[2019-10-24 12:03] #18 closed

[2019-10-24 12:04] ehmicky commented on #165
We need this for plugin presets: #370.

[2019-10-24 13:47] ehmicky commented on #370
Done by #373.

[2019-10-25 11:34] #350 closed

[2019-10-25 11:37] ehmicky commented on #350
Fixed at #377.

[2019-10-25 18:08] #320 closed

[2019-10-25 18:08] ehmicky commented on #320
Windows support has been added by #379.

[2019-10-25 18:50] ehmicky commented on #318
@talves I've added some Windows-related fixes. Could you please confirm whether your issue is still happening? Thanks!

[2019-10-25 18:59] talves commented on #318
@ehmicky got this, but might be me?
![image](https://user-images.githubusercontent.com/784848/67596964-d4a25a00-f71e-11e9-9c04-ba6e2d6ccc36.png)

[2019-10-25 19:06] ehmicky commented on #318
@talves that bug should be solved in the latest version. This was due to us using an old version of one of our dependencies (`@netlify/config`).

[2019-10-25 19:13] talves commented on #318
running: `Found "netlify-cli@2.19.3"`

[2019-10-25 19:24] talves commented on #318
@ehmicky this might be my issue with my config. Expects array for `plugins` now?

[2019-10-25 19:26] ehmicky commented on #318
No we just forgot to make a new release of `netlify/cli`. We are going to release `2.19.4` and this should fix that issue :)

[2019-10-25 19:32] talves commented on #318
So, this is correct for a config in `netlify.yml`?

[code]

[2019-10-25 19:35] ehmicky commented on #318
We changed the syntax for `plugins`. It is now an array of objects:

[code]

Apart from this, all good :+1:

[2019-10-25 19:36] talves commented on #318
Yeah, so that is what I was saying 👆 is I also have an error 😂 and `name` required in plugin. Good Errors by the way!

[2019-10-25 19:38] talves commented on #318
![image](https://user-images.githubusercontent.com/784848/67599178-4b8e2180-f724-11e9-9c44-7929580a5643.png)

[2019-10-25 20:28] ehmicky commented on #318
Could you please send the output of the following command:

[code]

Also: are you using regular `cmd.exe`, Git for Windows, WSL or Powershell?

[2019-10-25 20:43] talves commented on #318
Git Bash, but I can run in any terminal. Not using WSL.

[2019-10-25 20:46] talves commented on #318
[code]

[2019-10-28 14:31] ehmicky commented on #318
I've tried to reproduce your issue with the same configuration, but it did not reproduce it.

Using Git Bash:

[code]

I seem to completely reproduce your environment, so I'm not sure why your output is different. Do you have an idea of something in our environments that might differ? Thanks.

[2019-10-28 14:48] talves commented on #318
I'm not using `npx netlify build` to run the command. I have the cli in dev deps. Let me do a new clone of the repository and see if something changes.

`npx netlify build` runs! Should it return to prompt after?

`yarn run netlify build` gives the error.

Since there is a reason and a solution, up to you if you want to support a local dev dependency install of the cli.

[2019-10-28 15:05] ehmicky opened #387 "Does not work with Windows + Yarn"
See #318.

Environment: Windows 10, either `cmd.exe` or Git Bash.

Example repository: https://github.com/talves/netlify-plugin-debug

Running `yarn run netlify-build` prints `EBADF` errors.

Running `npx netlify-build` works though.

[2019-10-28 15:09] ehmicky commented on #318
Could you please explain what you mean by having the CLI in development dependencies? It seems to me this should matter whether this is installed as a production or development dependency. On the other hand, what might matter is how the command is triggered. There are several ways: `npx netlify build`, `yarn run netlify build`, in the console vs using `execa`, programmatically in Node.js, etc.

Ye

[2019-10-28 15:16] talves commented on #318
@ehmicky I have been using yarn so long I forgot that npx uses the local node_modules, so had not tried it 😢. My bad for not making it more clear. I only put the yarn version in original issue and did not give you the command I was using. Hope that did not add extra work for you.

[2019-10-28 15:26] talves commented on #318
Not sure if this helps, but thought I would mention it for your debugging.

Run `npx netlify buils` (bad command arg) and it will prompt you for the correct command arg; Choose build `y` as the option and the command does not hang.

[2019-10-28 16:14] ehmicky commented on #318
No worries! :)

Thanks, that might help.

[2019-10-28 19:24] ehmicky commented on #387
Ok so this is probably one of the hardest bugs I've had to debug in a long time. This is my current progress of the understanding of that bug.

### Background

`@netlify/build` is running plugins in child processes. Child processes communicate with parent over std3. We use std3 instead of stdout/stderr so that we can separate plugin outputs from plugin IPC.

In essence, the parent does this:

[cod

[2019-10-28 20:07] ehmicky commented on #387
I fixed this problem by using `process.execPath` which is the absolute path to `node` instead of the `'node'` string. This short-circuits `node-which` and solves this bug.

Fixed at #388.

This is released by `@netlify/build` `0.0.35`, which will be included in the next release of `@netlify/cli` (not done yet).

[2019-10-28 20:08] ehmicky commented on #318
The yarn bug has been fixed by #388.

The CLI command hanging has not been fixed yet.

[2019-10-29 15:19] ehmicky commented on #387
This is fixed in the latest version of `@netlify/cli` (`2.20.1`).

[2019-10-29 15:19] #387 closed

[2019-10-29 15:20] ehmicky commented on #318
Everything mentioned in this issue has now been fixed in the latest version of `@netlify/cli` (`2.20.1`).

[2019-10-29 15:20] #318 closed

[2019-10-29 15:23] talves commented on #387
Woot! @ehmicky all working great on my system now!

Great job on getting this hammered out. Nice to see this fixed in the `netlify-cli` also

[2019-10-29 16:40] ehmicky commented on #186
Drawing inspiration from GitHub actions, I thought of an additional solution:
  - keeping lifecycles for users (`build.lifecycle.*`) but not for plugins (plugin methods)
  - ask user to explicitly call plugin methods in the lifecycle commands array. \

A plugin would look like this:

[code]

A configuration would look like this:

[code]

This requires more configuration for the user, but this solv

[2019-10-29 17:02] ehmicky opened #396 "Simplify configuration syntax"
Our current configuration syntax has the following issues:
  1. Retrieving plugin outputs is problematic because plugin order conflicts with lifecycle order (see #186). This makes it very hard with the current design for plugins to communicate outputs/information to the user or to other plugins.
  2. Users don't understand when plugin methods are executed and in which order, because this is done i

[2019-10-31 16:17] ehmicky commented on #396
(Tagging @sdras after discussing on Slack about this)

[2019-10-31 17:04] DavidWells commented on #364
We want to encourage developers to publish modules with the naming conventions

[code]

We also want to encourage the use of the `netlify-plugin` tag in their package.json

I'm not a huge fan of enforcing this though. This would prevent npm packages from exposing a plugin via their exports if they don't follow conventions.

There are a couple reasons:

1. For example, I publish `super-awesome-site

[2019-10-31 17:14] DavidWells commented on #396
This would require quite a bit of setup from users to leverage plugins.

The user would need to:

1. Install the plugin
2. Inspect the plugin/read its docs (if it has docs), to understand what the plugin exposes
3. Know about the netlify lifecycle (what are the names of things)
4. Manually wire in everything to make it work
5. Hope they configured it right and didn't miss a step
6. (then mix in pl

[2019-10-31 18:29] sw-yx opened #404 "@netlify/plugin-functions-core should mkdir if it doesnt exist"
running build on a fresh install gives me this:

[code]

because `.netlify/functions` doesnt exist yet.

simple oversight

[2019-10-31 19:27] sw-yx opened #409 "add functions directory to provided constants"
in https://github.com/netlify/build/blob/4d6202b0a141fdcd0d98335dc64d165c51bac0b4/packages/build/src/plugins/child/constants.js we provide cache dir build dir and config path but not functions dir. we should provide functions dir.

pseudocode i lifted from the functions plugin

[code]

[2019-10-31 19:36] sw-yx opened #411 "don't hard fail on missing functions directory - assume it is 'functions' by default"
**Describe the bug**

i think this is something @calavera and i agree on but havent made an explicit policy - we used to have code in the CLI that would just fail if
a functions directory wasnt specified, even if there was a "functions" directory existing. we can do better to work via convention instead of configuration. we fixed this in CLI, but i see it popping up again here:

- https://github.c

[2019-10-31 19:38] ehmicky commented on #411
Makes sense. Will work on it.

[2019-10-31 19:38] ehmicky commented on #409
Sounds good :+1:

[2019-10-31 19:38] ehmicky commented on #404
I will look into this. :eyes:

[2019-10-31 20:04] sw-yx opened #412 "[Utilities] Make it easy to generate netlify functions from plugins"
**Which problem is this feature request solving?**

plugins can add *runtime* funcitonality instead of just buildtime by generating functions.

its not very clear how to do this in userland. have to figure out which lifecycle, and which path, and how to zip. annoying, and a barrier.

**Describe the solution you'd like**

from @DavidWells

[code]

[2019-11-01 11:43] ehmicky commented on #364
For `1.`, it seems to me most developers would publish a separate npm package (using a separate repo or using a monorepo). Now if a developer does want to keep publishing everything as a single npm package, the only way they could technically do it without breaking their package would be through the usage of paths such as `require('super-awesome-sitemap-thing/netlify-plugin-path')`. That practice

[2019-11-01 11:56] ehmicky commented on #396
This sounds good :+1:
However I believe plugins should either expose commands or use lifecycles, not both.

Those 6 steps are already our current setup.

Users already need to read the plugin docs to learn about the plugin configuration options. The only additional thing would be to check the method names. However we can remove that step for plugins which expose a single method, in which case user

[2019-11-01 14:21] ehmicky commented on #404
@swyx, this should be fixed in the latest `@netlify/build`, could you please confirm this?

[2019-11-01 14:28] ehmicky commented on #409
Do you need the source directory or the destination directory for Functions?

The source directory should be available under `config.build.functions`.

It seems to me the destination directory is actually the following:
  - `${packageRoot}/.netlify/functions` locally
  - `${osTmpDir}/zisi-${process.env.DEPLOY_ID}` in production

Did I get something wrong?

[2019-11-01 14:34] sw-yx commented on #409
destination i guess

[2019-11-01 14:35] sw-yx commented on #404
sure.

[2019-11-01 14:35] #404 closed

[2019-11-01 14:38] ehmicky commented on #411
Fixed by #418.

[2019-11-01 14:41] ehmicky commented on #404
Thanks!

[2019-11-01 14:42] ehmicky commented on #409
Sure, we can provide both.

Could you confirm whether I got the destination directory logic right? Thanks!

[2019-11-01 16:10] sw-yx commented on #409
can you tag issues in your commit or PR? annoying to find without links

[2019-11-01 16:51] #411 closed

[2019-11-01 16:53] ehmicky commented on #409
I usually tag issues in PR with "Fixes: ...", which PR was missing this?

Also could you confirm whether I got the destination directory logic right? Thanks.

[2019-11-01 17:22] sw-yx commented on #409
should be fine!

[2019-11-01 19:04] DavidWells commented on #337
Closing this issue. Feel free to re-open if you have more issues/questions on the syntax

[2019-11-01 19:04] #337 closed

[2019-11-01 22:27] DavidWells opened #420 "process.exit(0) doesn't exit build"
`process.exit(0)` hangs forever locally from https://github.com/netlify/build/blob/master/packages/netlify-plugin-monorepo/index.js#L50

It should exit the build

![image](https://user-images.githubusercontent.com/532272/68060048-089bf300-fcbc-11e9-8873-ad9dd34d5257.png)

[2019-11-01 23:09] DavidWells commented on #420
Where are the child processes handled?

Having trouble tracking this down in the code

[2019-11-01 23:34] DavidWells commented on #396
I agree with this for the most part. I'm curious to hear feedback from beta testers on this point before taking any action. This is probably the biggest ? in my mind right now

There is a fine line between "too much magic" and "too much manual configuration". Netlify as a company leans in to make the experience super smooth for the developers. If we are too far in "too much magic" land, we will ne

[2019-11-04 11:21] ehmicky commented on #396
I totally agree with this: Netlify Build should follow closely the Netlify philosophy in that regard. We should introduce as much "Netlify magic" as possible and keep the developer experience super simple.

However our current approach is not "no config". Users still need to: 1) install plugins, 2) configure plugins, 3) specify plugins order (in the `plugins` array).

From a user perspective, the

[2019-11-04 12:22] ehmicky commented on #420
This is a bug. I just fixed it at #422.

Child processes are handled in [`src/plugins/ipc.js`](https://github.com/netlify/build/blob/master/packages/build/src/plugins/ipc.js).

Plugins should not use `process.exit()`. Instead:
  - if a method is successful, it should `return`
  - if not, it should throw an error (or return a rejected promise)

The PR #422:
  - ensures build is not hanging when `pr

[2019-11-04 16:27] erezrokah commented on #27
Is it possible to pass in lighthouse config options? Let's say I just want to do this: https://github.com/lirantal/is-website-vulnerable

[2019-11-04 19:19] sw-yx commented on #27
just needs someone to implement :)

[2019-11-04 19:32] #420 closed

[2019-11-05 19:01] ehmicky commented on #409
Done at #429.

[2019-11-05 23:37] Munter opened #430 "Plugin config validation: default is ignored in the schema root"
Relates to #428

I'm running netlify-build v0.1.8

I'm trying to use the newly added `config` property that lets me define a JSON schema for validating the user supplied configuration.

I'm running into a problem where if I set a `default` value for a property on a configuration schema, I get an error: `Error: default is ignored in the schema root`

This error happens only when I have a `default`

[2019-11-06 09:53] ehmicky opened #431 "Native modules inside Netlify Functions"
Native modules must be built and run on the same OS. Our build system runs on Linux and so do our AWS Lambda functions. However there are several posts that describe a bigger setup to get any native modules working on AWS Lambda. Do we support native modules on Netlify Functions?

Also they must also be built and run on the same Node.js version. Otherwise they show some error message when run. Our

[2019-11-06 10:32] ehmicky commented on #430
Thanks for reporting this issue @Munter!
The feature was built so default values can be added on top of it. However this has not been done yet leading to that error. At the moment, not using `default` should be a safe workaround.

[2019-11-06 10:45] #409 closed

[2019-11-06 14:14] #430 closed

[2019-11-06 14:15] ehmicky commented on #430
Fixed in #438. Please note that the syntax has changed a little. The `config` properties must now be inside a `properties` attribute (to conform to JSON schema syntax).

[2019-11-06 15:40] ehmicky opened #441 "Document the new features from Netlify Build"
Some new features have been released, it would be great to document them in our `README.md` and `docs/creating-a-plugin.md` :)

New features:
  - `constants.FUNCTIONS_SRC` is now passed to plugin methods. This is the absolute path to the source directory for Netlify Functions.
  - `constants.FUNCTIONS_DIST` is now passed to plugin methods. This is the absolute path to the destination directory for

[2019-11-06 17:54] DavidWells commented on #431
Right now its BYO native modules.

E.g. if you want to use headless chrome in a function you need to include the [precompiled binary](https://github.com/alixaxel/chrome-aws-lambda) as a dependancy.

There are some projects in the broader ecosystem that are working to solve this binary issue. One is called "yumda" described here https://www.serverlesschats.com/19

There are a couple of ways users c

[2019-11-06 18:23] ehmicky commented on #431
Thanks for this response.

So this means at the moment `zip-it-and-ship-it` does not support native modules, correct? This is quite a limitation. We have [some users reporting it](https://github.com/netlify/zip-it-and-ship-it/issues/67#issuecomment-550030084) right now.

[2019-11-06 19:08] DavidWells commented on #431
Users with native modules that don't just work via default `zip-ship` need to manually build there own functions right now.

It is not ideal.

This is why the `@netlify/build` functions building/packaging is overridable.

Functions revamp is needed and will happen one day ™

[2019-11-06 19:44] DavidWells opened #443 "CLI yml/json support via @netlify/config"
Currently the netlify CLI doesn't understand `netlify.yml`, or `netlify.json` files.

This is because the configuration parsing done by the CLI https://github.com/netlify/cli/blob/7ddd543fa131c2531c5861f8bdc049cabbe6e6f3/src/utils/command.js#L36 isn't using `@netlify/config` yet to resolve the values.

We need to add https://github.com/netlify/build/tree/master/packages/config to the CLI as a depe

[2019-11-06 19:46] ehmicky commented on #431
Yes it's a major limitation.

[2019-11-07 11:13] ehmicky commented on #431
It looks native modules are in fact supported by `zip-it-and-ship-it`, kind of. [This user](https://github.com/netlify/zip-it-and-ship-it/issues/67#issuecomment-550236622) made it work with `node-sqlite` which is a native module.

It seems like building native modules against other Linuxes might make work when run on Amazon Linux. However `NODE_VERSION` and `AWS_LAMBDA_JS_RUNTIME` need to match th

[2019-11-08 20:20] DavidWells opened #462 "Memory leak warning from emitter"
Memory leak warning from emitter

This was seen on `example-one`

[code]

![image](https://user-images.githubusercontent.com/532272/68507985-07ba1280-0222-11ea-85e6-3725ab774ace.png)

[2019-11-08 20:30] #34 closed

[2019-11-08 20:30] #38 closed

[2019-11-08 20:31] ehmicky commented on #462
I will check this out.

[2019-11-09 22:09] sdras commented on #396
For me, @ehmicky's design proposal is actually cleaner. I've found

[code]

to be a bit verbose without adding much value. Coming from working with actions, this unifies our configuration and will be a little easier for devs with that experience to follow. This piece is important- the likelihood that a dev would be exploring both actions and our build plugins is high. And as I mentioned in the ver

[2019-11-11 13:59] #271 closed

[2019-11-11 15:16] #462 closed

[2019-11-13 01:28] biilmann commented on #396
Have a bunch of thoughts on this and it might be good to setup a shirt call to talk through. Here's my initial super brief take since I'm at the A16Z Summit without a lot of time to write something longer.

I think we're still not quite there with the configuration format, but from a product philosophy perspective I do think the current plugin syntax is closer to the mark than the Actions inspired

[2019-11-13 12:14] ehmicky commented on #396
Thanks for looking into this @biilmann! This is great we're making some progress on this issue. :tada: :tada:

What you are pointing out makes lots of sense to me. Especially when it comes to *plug&play* zero-config activation through the UI!

For some additional background, those are the problems that led to this issue.

## Side effects

Some plugins have side effects (such as creating files). Be

[2019-11-13 15:09] ehmicky commented on #441
What do you think @DavidWells?

[2019-11-16 03:01] oscartbeaumont opened #484 "Weird error when package.json does not exist"
**Describe the bug**

If I create a project using build plugins without a `package.json` file I receive the weird error below.
[code]

The issue is being caused [here](https://github.com/netlify/build/blob/59ca2005c27265ab879edd81be3cbbbf53fb4302/packages/build/src/plugins/install.js#L71) because `packagePath` returns `undefined`.

**Steps to reproduce**

Create a project using Netlify build plugi

[2019-11-16 08:33] Munter opened #485 "Add cname to build constants"
**Which problem is this feature request solving?**

When a build plugin needs to resolve URLs based on the source code there is currently no way to know what the host domain off the primary deployment will be. This makes it hard to take canonical URLs to assets on this domain as actually targeting local files in the dist folder.

It forces plugin authors to expose this detail as a user configurati

[2019-11-17 10:53] Lockoo commented on #270
Whats the status on this?

[2019-11-17 13:25] oscartbeaumont commented on #359
I would love this to be added as I had the idea to build a plugin that "crawls" exported html to find asset imports and then is able to create HTTP/2 push rules to speed up page loads with minimal extra effort for a developer/website maker.

[2019-11-18 10:48] ehmicky opened #486 "Document `constants`"
A user notices the lack of documentation about the arguments passed to hooks.

It seems to me we are missing the following properties in our documentation:
  - each `constants`
  - `api` instance

Would it be ok to add some documentation for those? What do you think @DavidWells?

[2019-11-18 11:23] #484 closed

[2019-11-18 11:27] ehmicky commented on #484
Hi @oscartbeaumont,

Thanks a lot for letting us know! I have just fixed this bug (#488), could you please confirm this works for you now? Thanks!

[2019-11-18 11:30] ehmicky commented on #270
We have a pending PR at #513 to add the base support for this. Once this is merged, we will need to do some minor tweaks in this repository then this should work :)

[2019-11-18 11:34] ehmicky commented on #485
Hi @Munter, thanks a lot for the feedback!

This does sound like a good idea.

@fool and @Benaiah: is this information currently available inside the buildbot, for example as an environment variable?

[2019-11-18 13:53] oscartbeaumont commented on #484
I assume it works but is there a documented technique for testing updates to this package without a new release of the cli being done?
Thanks.

[2019-11-18 13:56] ehmicky commented on #484
`netlify-cli` uses a [`^` semver range on `@netlify/build`](https://github.com/netlify/cli/blob/93d9e01f32faaeb95ea4b200296aae20d7da8e34/package.json#L64). So regenerating your `package-lock.json` or `yarn.lock` should automatically update to the latest `netlify/build` (except for major releases with breaking changes).

[2019-11-18 17:08] fool commented on #485
Yup, these should be available.  It may not be what you need, but it is intended to be:

https://docs.netlify.com/configure-builds/environment-variables/#deploy-urls-and-metadata

If anything is missing, let me know and we can get a feature request filed.

One thing it won't handle is optimized assets (from the "Asset Optimization" section of the build & deploy settings page);  those URL's are cre

[2019-11-18 17:19] ehmicky commented on #485
Thanks for the info @fool!
If those are exposed as environment variables and this fits what you need @Munter, this should fix your issue without adding additional `constants`.
Please let us know if this works for you :)

[2019-11-18 20:19] Munter commented on #485
Ooh, I completely forgot about the environment variables. `process.env.URL` is exactly what I need!

Thank you. This eliminates another config property from my plugins :D

[2019-11-18 20:19] #485 closed

[2019-11-19 00:08] DavidWells commented on #486
`api` feature is still in limbo and requires backend work to add.

Adding constant docs now

[2019-11-19 09:42] #486 closed

[2019-11-19 23:59] DavidWells commented on #396
Just added a proposal in this PR https://github.com/netlify/build/pull/494

[2019-11-20 00:09] DavidWells commented on #443
Done once https://github.com/netlify/cli/pull/616 merged

[2019-11-20 00:56] DavidWells commented on #441
Idea:

What if we flatten the `config`?

From:

[code]

To:

[code]

This would make config a little less verbose to write

[2019-11-20 11:23] Munter commented on #441
@DavidWells If the `required` attribute on a property is still valid json schema I'm all for this simplification. The documentation should still describe what json schema version build is using and what implicit defaults for the top level is.

For example I found it useful to pull out the configuration into a separate json file, which could be tested for validity with json schema itself. That mean

[2019-11-20 13:19] ehmicky commented on #441
It is unfortunately not. The current syntax follows JSON schema v7. If we used a custom version of JSON schema, users would need to convert it to regular JSON schema themselves as you are suggesting.

Now the rational behind JSON schema doing it like this instead of a boolean property, and the reason why this makes more sense for us, is that other object properties are also available such as `minP

[2019-11-20 21:34] DavidWells opened #497 "Build throwing if no config file found"
**Describe the bug**

Some sites won't have a `netlify` config file. For example, sites that set the build command via the UI.

Right now we are throwing when no config file is found. We need to change that.

[code]

This is a similar issue for the CLI https://github.com/netlify/cli/pull/616/files#diff-ad5c9022fe59d34d5b1f2f2584ae0aebR46. Here `netlify` config files aren't required and the config

[2019-11-20 21:40] DavidWells commented on #497
The hack in CLI https://github.com/netlify/cli/pull/616/files#diff-ad5c9022fe59d34d5b1f2f2584ae0aebR46 is brittle and can break if that config API changes

What would be a more robust solution for `@netlify/config`?

[2019-11-21 00:21] DavidWells opened #498 "Move Plugins to Netlify-labs"
As per our discussion with the wonderful Netlify DX team, we are going to move over a number of example plugins from https://github.com/netlify/build/tree/master/packages into `netlify-labs` or the respective devs personal account.

The plugins in the main repo will be the core plugins that the Netlify build team actively maintains.

- [x] netlify-plugin-axe @sw-yx
- [x] netlify-plugin-encrypted-f

[2019-11-21 00:37] DavidWells commented on #441
json schema does have a lot of cool features. I'm not sure we will need the ones you describe `minProperties`, `maxProperties` etc. Those seem more tailored toward API responses

It is possible to support both? Kind of like the [RAML type system](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#raml-data-types) which allows for both. Simpler syntax & escape hatch for p

[2019-11-21 11:31] ehmicky commented on #441
Please note that even if we remove one nesting level, `config` is still JSON schema. Users would still need to either know it or learn it.

`minProperties` and `maxProperties` are definitely not very useful. But the others are more common. As a matter of fact, we use it ourselves: we validate that when `build.command` is defined, `build.lifecycle` should not be defined. If users want to do somethi

[2019-11-21 11:56] ehmicky commented on #498
Tagging @sdras @tzmanics

[2019-11-21 13:33] #497 closed

[2019-11-21 14:01] ehmicky opened #502 "Better behavior when no configuration file is found"
Follow-up on #497.

Using a configuration file is optional. As such, the configuration defaults to an empty object when no configuration file is found. No exceptions are thrown.

Please note:
  - when no configuration file is found, we do print some message indicating no configuration file was found.
  - when a `--config` path was explicitly specified, we do throw an error if it cannot be found

H

[2019-11-21 14:08] ehmicky commented on #497
Yes you're right, that's a bug. I fixed it in #499 and https://github.com/netlify/cli/pull/619

Trying to guess misconfiguration from the user would be a separate question, so I opened a issue for it at https://github.com/netlify/build/issues/502

[2019-11-25 21:30] DavidWells opened #519 "Revert functionBuild Order"
`functionsBuild` needs to happen before site `build` lifecycle hook.

Ref: https://github.com/netlify/build/pull/454#issuecomment-555120052

If users want to build functions after the fact they can in a `postBuild` hook with custom plugin code or future utility https://github.com/netlify/build/issues/412

[2019-11-25 22:59] DavidWells commented on #40
- [ ] Saving cache,
- [ ] restoring cache,
- [ ] installations/heuristics ref https://github.com/netlify/build/issues/39
- [ ] some specific Go import things,
- [ ] checking for zombie processes

[2019-11-26 10:12] ehmicky commented on #519
Should functions building (`zip-it-and-ship-it`) happen before or after `build`? For reference, at the moment (in the buildbot) functions building happens after `build`.

What was the latest status of the ongoing discussion about this @verythorough @jlengstorf @fool @rybit? There was a long thread last week on Slack.

[2019-11-26 15:14] ehmicky commented on #519
Should Netlify Functions building (`zip-it-and-ship-it`) happen before or after `build`?
As you point out, users could use custom code to do either (preBuild or postBuild), so I am wondering: what should the _default behavior_ be?

What was the latest status of the ongoing discussion about this @verythorough @jlengstorf @fool @rybit? There was a discussion last week on Slack.
Also tagging @jon301

[2019-11-26 23:41] DavidWells opened #524 "Plugin Shape & API Discussion"
This is an issue outlining a proposed plugin API for the various lifecycle methods.

The idea here is to standardize the inputs that plugin lifecycle functions receive.

Another goal here is to provide a nice developer experience by including `util` functions to make it easier for plugin authors to programmatically work with `redirects`, `headers`, `functions`, `git`, `cache` & executables

Feedba

[2019-11-26 23:47] jlengstorf commented on #519
All of my feedback on this was predicated on the idea that the site build could use functions if they were built first. That idea was wrong, so I'm now of the mind that — for all the use cases I have, at least — it makes no difference. 😂

[2019-11-27 00:49] fool commented on #519
I'd also suggest that we put it back the way it was.  A naive search shows
at least 124 sites configured to manually build functions using
netlify-lambda and who knows what they set up (e.g. use files from their
build in their functions).

...and as Jason mentioned, the primary benefit to the shuffle is not
achievable, so moving the cheese for its own sake seems suboptimal.

On Tue, Nov 26, 2019 a

[2019-11-27 07:05] jon301 commented on #519
In my case I use [Nx](https://github.com/nrwl/nx) (monorepo utility based on Angular CLI) which exposes 2 commands respectively to build my frontend application and the lambda function (Typescript to JS), from `src` folder to `dist` output folder.

![image](https://user-images.githubusercontent.com/122108/69700321-76381500-10ea-11ea-87ba-9fbdfbaf610c.png)

My `netlify.toml` looks like this :

[cod

[2019-11-27 17:28] DavidWells opened #529 "Go functions build issues"
It looks like there are some issues with how Go functions are being built

Repro:
1. Clone https://github.com/futuregerald/functions-react-mongo
2. Setup site
3. Deploy without beta on, everything works and functions deploy correctly
4. Turn on build beta and build fails with:

[code]

![image](https://user-images.githubusercontent.com/532272/69746026-409a2880-10f8-11ea-87d3-ab9be793fe10.png)

htt

[2019-11-27 20:51] DavidWells opened #531 "Updating Lifecycle Event Names to `onEvent`"
The object returned by plugins represent the config, name, and the handlers that respond to lifecycle events.

These lifecycle events are events that happen during the course of a build. For example preBuild `postBuild`, `preDeploy` etc

Because these handler functions are responding to events, I think it would improve clarity of the plugin API to make the keys of event handler functions look more

[2019-11-28 10:23] ehmicky commented on #531
I think this is a good idea. :+1:

Tagging @verythorough as this would require some documentation/articles updates.

[2019-11-29 13:00] ehmicky commented on #529
This was a hard one, but I think I have an idea of what's happening :)
This appears to be a bug in the buildbot: https://github.com/netlify/buildbot/issues/538
This is not related to `zip-it-and-ship-it`, `functionsBuild` nor child processes.

[2019-12-02 19:27] DavidWells commented on #524
@ehmicky Does current plugin architecture allow for non serializable values (functions for example) to be passed into plugins as arguments?

[2019-12-02 19:35] DavidWells commented on #531
Lets go ahead and change this.

Part 2 before merging the code changes will be updating the plugin content we can edit. https://www.notion.so/netlify/Build-Plugins-Reference-Guide-2b5ed75d19254b5389f2713bfc0fef6a

---

Just to be clear, the expected behavior is migrating the lifecycle events in a backward compatible way.

E.g.

1. `build` would change to `onBuild` (etc)
2. Older plugins with `buil

[2019-12-02 20:30] jlengstorf commented on #531
I think this is a great idea as long as the deprecation notice is clear and nothing breaks. A codemod would be a great way to smooth this as well.

[2019-12-02 20:38] jlengstorf commented on #502
I would just print a notice:
[code]

That way we're not guessing (that could bite us), but we're making it clear that their settings aren't being picked up.

Could also be good to notify where the config came from:

[code]

[2019-12-03 10:02] ehmicky commented on #502
This should already be the current behavior:
  - when no configuration file is found, we print a similar notice
  - when a configuration file is found, we print its location

Do you think this is enough? If so, I can close this issue.

[2019-12-03 10:05] ehmicky commented on #524
Yes

[2019-12-03 17:29] DavidWells commented on #529
Thanks for checking this out.

Does the buildbot need to set these `env` vars from config before it executes `@netlify/build`?

[2019-12-03 18:01] ehmicky commented on #529
Yes the buildbot is using for example `GO_IMPORT_PATH` before running `@netlify/build`: https://github.com/netlify/build-image/blob/9cade8af58c2cf3a17a1e9433d2e979149488837/run-build-functions.sh#L703

At the moment, it seems like this line resolves to `false` to the bug described above. This is in turn is probably the reason behind this ticket's issue.

[2019-12-04 22:31] DavidWells commented on #498
- [ ] netlify-plugin-axe
- [ ] netlify-plugin-encrypted-files
- [ ] netlify-plugin-example
- [ ] netlify-plugin-functions
- [ ] netlify-plugin-lighthouse
- [ ] netlify-plugin-monorepo
- [ ] netlify-plugin-no-more-404
- [ ] netlify-plugin-notifier
- [ ] netlify-plugin-search-index
- [x] netlify-plugin-sitemap
- [ ] netlify-plugin-svgoptimizer
- [ ] netlify-plugin-twiliosms

[2019-12-04 22:34] DavidWells commented on #498
After these move, we can start using lerna for releases

[2019-12-04 23:23] jlengstorf commented on #502
Do we have docs on how config works (e.g. do defaults get inherited? is that consistent across .toml/.yml/Netlify dev?)? if so, I'd love to see those linked from the notice.

If not, maybe that's a new issue?

[2019-12-05 00:04] DavidWells commented on #502
@jlengstorf the values in the config file take precedence, if required values are missing they are inherited from the site settings from the UI

[2019-12-05 00:04] DavidWells commented on #502
Netlify dev doesn't read json/yml yet. It will once this is merged in a day or so https://github.com/netlify/cli/pull/616

[2019-12-05 00:15] jlengstorf commented on #502
@DavidWells I don't think that's universally true. For example setting _any_ config in the `dev` section causes dev to break without all options being set (as far as I can tell; lots of port errors).

Either way, it would be good to link people to the docs where we explain this so they can learn for themselves how config is managed.

[2019-12-05 00:18] DavidWells commented on #502
This sounds like a dev error in the CLI. There is a-lot of confusion around the `dev` settings and ports in general https://github.com/netlify/cli/issues/563. If you have ideas to make `netlify dev` and it's related configuration please let me know 😃

[2019-12-05 10:53] ehmicky commented on #502
@jlengstorf @DavidWells Should this issue be closed?

[2019-12-05 14:41] ehmicky commented on #531
I've been working on implementing this and have been hitting the following problem: lots of code relies on the assumption that user lifecycles (`build.lifecycle.*` in the configuration files) are named the same as plugin lifecycles (methods inside plugins). This is just an implementation impediment that can be easily solved, but this led me to realize that this might confuse some users and/or plug

[2019-12-05 16:55] DavidWells commented on #531
I agree different names would be confusing.

The plugin syntax and lifecycle syntax should change

[code]

[2019-12-05 17:08] ehmicky commented on #531
This sounds good to me :+1:

Since we would be prefixing lifecycles with `on`, could we remove one indentation level and directly do the following?

[code]

[2019-12-05 17:11] DavidWells commented on #531
Good question. I don't think so at this time.

There are other build settings and the lifecycles should be logically grouped together

[2019-12-05 17:36] ehmicky commented on #531
From that reasoning, shouldn't it be the same for plugins then?

[2019-12-05 23:42] jlengstorf commented on #531
I don't think they need to be under an extra level — they'll be grouped alphabetically (e.g. `on*`) and logically by name, so the extra nesting doesn't add a lot of benefit I don't think.

[2019-12-05 23:43] jlengstorf commented on #502
Personally, I wouldn't close this until there are links to docs in the warnings and/or an issue is open to create clearer docs around defaults and config composition.

[2019-12-06 00:19] DavidWells commented on #531
I agree. I think the plugins are different from the `netlify config` file.

Let's keep the `onXyz` top level in the plugins for right now.

The plugin api is shaping out like:

[code]

[2019-12-06 09:42] ehmicky commented on #317
@talves there have been some progress on issues related to this problem. Could you confirm whether this issue is now fixed?

[2019-12-06 11:30] kripod commented on #317
@ehmicky It doesn’t seem to work for me. Please see the [build log](https://app.netlify.com/sites/exigo/deploys/5dea390b4dd421e824e864bf) for “Starting to deploy site from ''” and the corresponding [`netlify.toml`](https://github.com/kripod/exigo/blob/bdde74258c222c8de9b55b61f6c4740f25b5c918/netlify.toml) file.

[2019-12-06 13:16] ehmicky commented on #531
Yes I agree that using `on*` prefix + adding an extra `lifecycle` nesting level is unnecessary.

What I meant above is that if we use this reasoning for the plugin shape, we should also do the same for the configuration file. The configuration file does not need an extra nesting level neither if we're adding that additional `on*` prefix.

[2019-12-06 15:00] ehmicky commented on #531
Todo list:

 - [ ] Replace lifecycle names in the codebase logic
 - [ ] Fix lifecycle names validation
 - [ ] Fix final instructions logic (which depends on hook names)
 - [ ] Fix core plugins (cache, deploy, functions)
 - [ ] Fix other plugins in this repository (including their documentation)
 - [ ] Fix documentation (including `README`)
 - [ ] Fix documentation generation script
 - [ ] Fix `exa

[2019-12-06 15:01] ehmicky commented on #531
Yes I agree that using `on*` prefix + adding an extra `lifecycle` nesting level is unnecessary.

What I meant above is that if we use this reasoning for the plugin shape, we should also do the same for the configuration file. The configuration file does not need an extra nesting level neither if we're adding that additional `on*` prefix.

[2019-12-06 15:54] talves commented on #317
Seems to be the same @ehmicky as before. You can test against this repo https://github.com/talves/netlify-plugin-debug

[2019-12-06 17:37] ehmicky opened #555 "How to rename `plugin.type`?"
Following from our discussion with @verythorough @DavidWells @tzmanics @Benaiah @toddmorey, we talked about renaming `plugin.type` to either `plugin.package` or `plugin.resolve`. Which one should we pick?

[2019-12-06 17:39] ehmicky opened #556 "How to rename `config` and `pluginConfig`?"
Following from our discussion with @verythorough @DavidWells @tzmanics @Benaiah @toddmorey, we talked about differentiating Netlify configuration file from plugin configuration. This includes the variables used in our documentation and in the plugin methods. At the moment we use `config` for the former and `pluginConfig` for the latter. What are your thoughts?

[2019-12-06 17:41] ehmicky opened #557 "How to name Netlify API client instances?"
Following from our discussion with @verythorough @DavidWells @tzmanics @Benaiah @toddmorey, we were wondering about the variable name to use when describing Netlify API client instances, in our documentation and in the plugin shape. At the moment we use `netlify`, `api` or `client`. What are your thoughts?

[2019-12-06 17:43] ehmicky opened #558 "Rename some concepts"
Following discussion with @verythorough @DavidWells @tzmanics @Benaiah @toddmorey, we will be renaming the following concepts:
  - [x] Instruction: should be called Command instead
  - [x] Lifecycle is the whole set of Events. Event is each individual moment within the lifecycle. Event handlers are the Bash commands or plugin methods triggering logic for a specific event.
  - [x] Plugin type refer

[2019-12-06 22:39] DavidWells commented on #531
We have these other legacy properties on the `build` key.

[code]

I think the `onXyz` lose some context if top level on the `build` key

[code]

vs under the `lifecycle` key where you know what those keys relate to

[code]

I think we should keep the nesting under `build.lifecycle` for now and see what user testing brings

[2019-12-06 22:46] ehmicky commented on #531
Plugins also have other properties: `name`, `config`, `output`, etc.
My question above was about: why we are double-namespacing (`lifecycle` + `on` prefix) in one case (the configuration file) and not in the other (the plugins)?

[2019-12-06 22:55] DavidWells commented on #531
Mainly because of the `build` legacy / backward compatibility baggage and because the events logically group together under `lifecycle` vs the general key (with the other non related bits).

There are other lifecycle things to consider as well like for `netlify dev`. It will likely also have lifecycle events. These too could be top level but those again aren't logically grouped

Future dev example

[2019-12-06 23:03] ehmicky commented on #531
Yes.
However my question is not about whether double-namespacing makes sense or not, it's about:

Plugins objects are not very different from the `build` object, they are both objects mixing lifecycle events with other properties. They are used in different use cases (general configuration vs plugin shape) but this is not enough to explain the inconsistency between both.

[2019-12-06 23:05] DavidWells commented on #531
Netlify config and object exported from plugins are not a 1 to 1 thing. Like the name, config, output, etc. you mentioned from plugins

I guess thats why they are different

[2019-12-06 23:09] ehmicky commented on #531
I undertstand those are two different objects with different properties. They are also used with different use cases (general configuration vs plugin shape). But the general idea of namespacing lifecycles within those extra properties applies to either of those regardless of this. Double-namespacing provides with stronger separation, single-namespacing provides with simpler interface.
Whichever re

[2019-12-07 11:23] ehmicky commented on #360
Which git-related information do we want to expose?

We already provide [several environment variables](https://docs.netlify.com/configure-builds/environment-variables/#git-metadata) related to git information: `REPOSITORY_URL`, `BRANCH`, `HEAD`, `COMMIT_REF`, `PULL_REQUEST`.

It would be simpler for users and plugin authors to access those information directly with an environment variable (`proce

[2019-12-07 20:19] DavidWells commented on #360
The utility is mainly for allowing plugin authors to easily see what files have been created / modified / deleted and to run logic based off this.

E.g. have my doc md files changed? If Yes, Continue build. If no, exit build early.

Or has the config.json file changed? If yes, run expensive verification process & report results back (re: structured login). If no, noOp and continue with build

I ha

[2019-12-09 11:26] ehmicky commented on #360
Oh yes, this makes more sense from that angle: checking if a specific file has changed since the last commit, like `git diff --exit-code --quiet FILE.js`?

Should this be something we want to maintain ourselves, or should we redirect to an already existing library for it? I found similar libraries with a quick search: [`get-changed-files`](https://github.com/d4rkr00t/get-changed-files), [`git-chan

[2019-12-09 12:14] ehmicky opened #580 "Update lifecycle event names to `onEvent` in documentation"
With #531, we have updated the lifecycle event names from `build` to `onBuild` in the code, in plugins (including PRs to external plugins) and in the `README`. Should we also update the articles and blog posts that we wrote about Netlify Build?

Generally speaking, do we intend to update these each time the configuration file syntax changes (which is quite frequent at the moment)?

@DavidWells @ve

[2019-12-09 14:19] ehmicky commented on #317
@kripod @talves I just looked into it and you're correct. I think I've identified the issue. I will post once we have more information.

[2019-12-09 19:06] DavidWells commented on #580
Updated the blog post on our site https://github.com/netlify/netlify-www/pull/2765

We need to tweak the one on css-tricks too

[2019-12-09 19:31] DavidWells commented on #531
Mainly its around what is easier to visually parse when reading the config file.

Also `publish` & `functions` keys conflate with `onPostDeploy` & `onFunctionsBuild`. It makes sense to logically separate here

![image](https://user-images.githubusercontent.com/532272/70466035-1db43080-1a77-11ea-9656-b16adf6ba151.png)

Same for plugins, there are no conflicts there right now. Also, in my opinion, i

[2019-12-09 19:45] DavidWells commented on #555
`resolve` works

[2019-12-09 19:49] ehmicky commented on #531
Alright, this sounds good to me :+1:

I would personally prefer to flatten the `build` object to a single nesting level by removing the `lifecycle` property, for the same reasons you are mentioning about not adding the `lifecycle` property for plugins. However I also think we might want to move on to other issues which might be more value-adding to our users, so I'll marked this issue as resolved.

[2019-12-09 19:49] #531 closed

[2019-12-09 19:50] ehmicky commented on #555
`resolve` works for me too. @verythorough if you like it too, I could implement it this week, what do you think?

[2019-12-09 19:59] DavidWells commented on #556
It's a little verbose but I guess `netlifyConfig` it works

[code]

[2019-12-09 20:06] DavidWells commented on #555
When you make the change, can we make this backwards compatible as well.

We need to ensure the existing plugins https://github.com/netlify/plugins work while authors take the time to update them

[2019-12-09 20:07] ehmicky commented on #555
Yes I'm going to try to make all the renaming-related changes backward compatible :+1:

[2019-12-09 20:10] DavidWells commented on #557
This feature unfortunately won't be ready until API changes are made in the core Netlify API

As such, we should not document or expose this feature at this time.

It will work locally but break in CI 😢

Need to pause this feature until https://github.com/netlify/bitballoon/issues/4980 is resolved

[2019-12-09 20:13] ehmicky opened #585 "Hide API client feature"
We should hide the `api` client feature and remove it from documentation (see [this comment](https://github.com/netlify/build/issues/557#issuecomment-563414519)) until it is fully functional.

This is based on your feedback @DavidWells, but please let me know if I got it wrong.

[2019-12-09 20:17] ehmicky commented on #557
I have just added #585 for hiding the API client feature from the documentation and plugin arguments.

We can still discuss this issue even though the feature is momentarily paused. Also this discussion is broader than this specific feature (for example it applies to the `js-client` documentation as well).

[2019-12-10 11:19] ehmicky opened #586 "Streamline lifecycle events exposed"
We currently document and expose the following events that are not 100% implemented yet:
  - `onPreGetCache`, `onGetCache`: caching happens in the buildbot right now, so those events actually happen after restoring caches
  - `onSaveCache`, `onPostSaveCache`: for the same reason, those events actually happen before saving caches
  - `onPackage`, `onPostPackage`: I am not sure what those events do.

[2019-12-10 12:30] ehmicky commented on #524
I just implemented `utils` in #588. Each util currently has its own GitHub issue I believe.
The `netlifyConfig` vs `pluginConfig` renaming should be covered by #556. outputs is covered by #186.
The other fields are correct. I am closing this issue so we can discuss in each of those issues instead.

[2019-12-10 18:11] DavidWells commented on #586
`onPackage` is meant for the bundling step of functions. A.k.a when the built function code is zipped for the deploy step

Perhaps it could be `onFunctionsPackage` for more clarity.

This is so people can separate the building of the functions, with the packaging (what dependancies it include in the final function zip)

---

Need to think on the other lifecycles.

[2019-12-11 08:48] Munter commented on #360
Make is pretty powerful in its naive approach of comparing the last updated date of source files versus build artifacts. Now, I know this paradigm doesn't match that well because all build systems I know of don't retain a log of dependencies that went into a build artifact.

But what you could do is look at the last modification date of files compared to the date of the previous successful build o

[2019-12-11 10:51] ehmicky commented on #586
Thanks. Could you please precise what you mean by the "building" step of functions? Things like transpiling, Webpack bundling, etc. can be done in the `onBuild` event (#519) and serverless bundling (like `zip-it-and-ship-it`) can be done in the `onFunctionsBuild` event. Maybe you mean a third type of building?

For the other lifecycles, if we disable them, I think we should be able to enable them

[2019-12-11 16:40] DavidWells commented on #586
The building phase of a function is where it may be transpired by webpack, typescript, parcel, (another Lang that transpired into one of our target languages) etc. Many ways user might want to author their functions.

The packaging phase is where the built function code is zipped up with all of its dependencies (including external non js files & bins)

That’s why they are separate as a user might

[2019-12-11 17:46] ehmicky commented on #586
Oh alright I understand. This is also what the `onFunctionsBuild` event is, so I think we can merge `onPackage` with it.

`onInit`, `onPostGetCache`, `onPostInstall`, `onPreBuild`, `onPreFunctionsBuild`, `onFunctionsBuild`, `onPostFunctionsBuild`, `onBuild`, `onPostBuild`, `onPreDeploy`, `onPreSaveCache`, `onSuccess`, `onError`, `onEnd`

[2019-12-11 19:37] ehmicky commented on #396
After discussing with @DavidWells and @jlengstorf, I am more convinced that explicit ordering (as I was suggesting in this issue) is probably not in line with what we're trying to do in terms of making Plugins "magically work".

I had some questions on how we could abstract ordering from users while still building things in a correct, predictable and reliable order. However I think #494 is going t

[2019-12-11 19:37] #396 closed

[2019-12-11 20:57] DavidWells commented on #585
Waiting on https://github.com/netlify/bitballoon/issues/4980

[2019-12-11 21:02] DavidWells commented on #7
Related https://github.com/netlify/build/pull/522

The idea here is to mirror local `.netlify` folder with the actual remote buildbot image

[2019-12-12 01:47] DavidWells commented on #360
Opened up a PR with the utility here https://github.com/netlify/build/pull/596

Curious to hear everyones thoughts on the API.

The goal is the streamline how users can interact with `git` without having to exec/shell out and figure out all that complexity on their own

[2019-12-12 10:41] ehmicky commented on #360
@DavidWells Amazing! :tada:
Before moving from the design phase (this ongoing issue) to implementation (merging #596 PR), I was curious what your thoughts were about both my comment and @Munter 's?

[2019-12-12 10:44] ehmicky commented on #585
Alright, I'll hide the feature for the moment, and re-enable it once netlify/bitballoon#4980 is resolved :+1:

[2019-12-12 13:16] ehmicky commented on #558
Done! :tada:
There are three concepts renames that are pending discussions (#555, #556, #557) but we can take those on their own issues.

[2019-12-12 13:16] #558 closed

[2019-12-13 00:56] sdras opened #603 "Feature Request: Orchestrator Plugins"
## Netlify Build Plugins — Orchestration and Shared Data

This issue proposes solutions to open questions about Netlify Build Plugins:

1. How can developers ensure that build plugins run in a given order?
2. How can developers share data between build plugins?
3. If plugins are being composed in such a way, how can a maintainer easily tell what's going on?

We propose adding functionality for an

[2019-12-13 06:00] jlengstorf commented on #603
Super excited about this!

One potential opportunity I see is passing data between functions a return value instead of something that can be arbitrarily accessed. I like the explicitness of being able to check the return value vs. needing to scan all the code for `cache.set` calls.

To pass data between plugins, the lifecycle method should return the data that’s shareable between plugins:

[code]

[2019-12-13 11:33] ehmicky commented on #603
I like it!
I have several questions regarding some specific details, but overall I think it's a great solution to both inter-plugin outputs ("outputs" #186 #494) and plugin orchestration!

Before moving on to those questions, I would like to know what do you think about it @DavidWells?

[2019-12-13 12:18] ehmicky commented on #585
Done by #606

[2019-12-13 12:18] #585 closed

[2019-12-13 13:13] ehmicky opened #607 "Fix test snapshots being updated on each test run"
This is due to a bug in AVA. I've reported it here: https://github.com/avajs/ava/issues/2311

[2019-12-13 19:43] DavidWells commented on #555
After looking at both side by side... I'm thinking `package` is clearer than `resolve`

<table>
<tr>
<td valign="top">

[code]

</td>
<td valign="top">

[code]

</td>
</tr>
</table>

[2019-12-13 19:45] jlengstorf commented on #161
something like Pino would make this fairly straightforward to implement

https://github.com/pinojs/pino

I rolled this little util for a side project and it gives me the benefit of human readable logs in the console with structured logging for machines

https://github.com/stream-blitz/stream-blitz/blob/2f6dec547462d2e33b3459d3ac3b5dd12eb99754/packages/core/server/logger.mjs#L1-L14

Initialization

[2019-12-13 19:52] DavidWells commented on #603
Interesting idea. Thanks for the write up.

Currently developers can ensure that builds run in a particular order by the order in which they are defined in the `netlify.toml/yml` file and further details of execution order can be seen with `netlify build --dry` command

This is the million dollar question 😃. I like Jasons idea of simply returning values and passing those along. There are a couple

[2019-12-13 19:53] ehmicky commented on #555
Sounds good to me :+1:

[2019-12-14 00:56] jlengstorf commented on #603
This would most likely just be a plugin of plugins, so it would be defined as:

[code]

I'd recommend resolving them by package name, same as the config file does, so:

[code]

is resolved the same way as:

[code]

It should. Calling via `pluginExecute` should be functionally equivalent to adding the plugin to the `[[plugins]]` config.

Definitely!

Here's an example of running two plugins in para

[2019-12-14 00:56] jlengstorf commented on #603
We could always add a little syntactic sugar around the `Promise.all` stuff, too, if Promises are too head-bendy.

[2019-12-16 18:35] DavidWells commented on #603
Both of the use cases described above can be accomplished in user land with vanilla JS.

Here is the parallel example as it can be written today

[code]

A usage example in netlify config file would look like this:

[code]

---

Because these things can be accomplished in plugin author land already, I think we need to hold off on implementing a bespoke `context.pluginExecute` function until there

[2019-12-16 19:18] jlengstorf commented on #603
I think the important thing here is to implement and form an opinion on the pattern. If that doesn't require writing more code, that's great!

However, there are some risks with telling people to handle things themselves:

1. It requires a deeper knowledge of the underlying code that powers build plugins, which increases the onboarding difficulty
2. It relies on the discipline of the developers in

[2019-12-16 21:36] DavidWells opened #611 "Plugin Output Proposal"
Plugin outputs are a way for values to be passed between plugins.

These outputs will allow for more advances use cases of plugins that depend on values from each other.

For example, a `mongodb-atlas-plugin` might pass a connection string back as an output that a `custom-rest-api-function-plugin` might use to automatically scaffold a serverless function with said connection string.

To achieve a

[2019-12-16 22:22] jlengstorf commented on #611
I like the programmatic approach, though I'll echo my concerns from https://github.com/netlify/build/issues/603#issuecomment-566202411 about using plain JS vs. a well-defined API

reading this, I wonder if there's a simpler, safer route: what if we just required plugins that rely on outputs to use the JS approach?

this would skip the requirement for additional config and API surface and have the

[2019-12-16 23:34] DavidWells opened #612 "[DX] Improve lifecycle validation message"
Was trying to run build on an older demo.

I got a very verbose error that didn't tell me exactly what the problem was.

Got this verbose error, that didn't really help pinpoint the issue.

The fix was changing `finally` to `onEnd`.  I knew to do this b/c I've been watching the lifecycle changes.

Error message shown:

[code]

## Suggested fix

Tell the user what properties are wrong, the line num

[2019-12-17 02:58] DavidWells opened #613 "[Bug] Values from UI overriding netlify.toml values"
If the values from Netlify UI don't match the `netlify.toml/yml/json` values there are strange deployment side effects.

It looks like the value from the UI is taking precedence over the values in the netlify config file. This should be flipped (netlify.toml should take precedence)

## Example

With toml

[code]

and UI values

![image](https://user-images.githubusercontent.com/532272/70960874-1bc

[2019-12-17 09:45] ehmicky commented on #613
Thanks for reporting this! Yes this looks like a bug, I will check it out.

[2019-12-17 09:46] ehmicky commented on #612
Yes you're right, I forgot to include proper validation messages for that case, I will fix that. :+1:

[2019-12-17 10:19] ehmicky commented on #603
I would like to echo @jlengstorf comments about having an official wrapper / abstraction layer for this, this makes sense to me.

When it comes to emulating `pluginExecute()` userland by requiring modules and calling them directly: this would not work for several reasons:
  1. The `pluginConfig` is passed to plugins top-level function, not the `netlifyConfig`. This means an orchestrator plugin wou

[2019-12-17 15:41] #443 closed

[2019-12-17 16:24] DavidWells opened #618 "[Plugin idea] Image shrinker"
https://github.com/L-x-C/imageShrink

[2019-12-17 16:28] DavidWells opened #619 "[Plugin] Serverless deployment plugin"
A plugin that deploys serverless backends to AWS.

[2019-12-17 16:41] talves commented on #618
Darn you @DavidWells , made me squirrel for 20min on this library. So good!
https://github.com/imagemin/imagemin

[2019-12-17 17:31] #360 closed

[2019-12-17 17:39] DavidWells commented on #618
Lol I found it on https://kamranahmed.info/githunt/ (with JavaScript filter)

That site is super handy for finding awesome trending libs

[2019-12-18 11:39] ehmicky commented on #218
Done at #621.

[2019-12-18 15:12] ehmicky commented on #163
Done at #622.

[2019-12-18 17:34] #163 closed

[2019-12-19 11:23] oscartbeaumont opened #625 "onPostBuild lifecycle event doesn't exist"
**Describe the bug**

I receive the following error when using a simple Netlify build plugin with the `onPostBuild` lifecycle handler. I have been testing with the official [sitemap plugin](https://github.com/netlify-labs/netlify-plugin-sitemap).
[code]

**Steps to reproduce**

Environment:
[code]

I am using the latest version of Netlify Cli cloned from git and using `npm link` so it can be used

[2019-12-19 11:26] ehmicky commented on #625
@oscartbeaumont thanks for reporting this!

Can you try to remove your `package-lock.json`, then run `npm install`, then run `npm ls `@netlify/build`? Thanks a lot!

[2019-12-19 11:32] oscartbeaumont commented on #625
[code]
I verified and the issue still persists.

[2019-12-19 11:39] ehmicky commented on #625
Your problem is that `netlify-cli` is using an old version of `@netlify/build` (`0.1.7` while the last [published version is `0.1.30`](https://www.npmjs.com/package/@netlify/build)).
`netlify-cli` is using the [following version range in `dependencies`](https://github.com/netlify/cli/blob/4e7d443849b14922639938e7eac617b972204710/package.json#L64): `^0.1.7`.

Based on this, removing your lock file

[2019-12-19 12:02] oscartbeaumont commented on #625
Sorry to waste your time, after clearing `node_modules` and `package-lock.json` and reinstalling everything has started working.

[2019-12-19 12:02] #625 closed

[2019-12-19 12:06] ehmicky commented on #625
That's not a waste of time if your build are now correctly working. Feel free to post any issues you might encounter :)

[2019-12-19 17:27] ehmicky commented on #613
I've checked the code in `@netlify/build` and the UI settings have less priority than the `netlify.yml` configuration properties (which is the correct behavior).

I've tried to run a Site with different `command` and `publish` values as well, and `@netlify/build` is picking up the correct values. However once `@netlify/build` ends, the buildbot uses the UI settings instead.

[code]

So my guess he

[2019-12-19 17:38] ehmicky commented on #612
Fixed by #629.

[2019-12-19 17:50] #612 closed

[2019-12-19 19:44] jlengstorf opened #634 "Default config should pick up functions"
**Describe the bug**

When creating a  new Netlify site, the default behavior (e.g. if I drag-and-drop a folder into the Netlify UI) should be to pick up functions in the `functions` folder).

Right now, that doesn't happen — users need to either open the functions settings in the UI or add a `netlify.toml` to get functions to start working.

**Steps to reproduce**

Step-by-step instructions on ho

[2019-12-19 19:48] ehmicky commented on #634
Thanks for reporting this @jlengstorf.
This is definitely not intended. There is some logic in `@netlify/build` to use `./functions` if such a directory exists and no `functions` parameter is specific (in neither the configuration file not the UI settings).
Just to make sure this is on the Netlify Build side and not the buildbot: does this happen when you run the build locally through the Netlify

[2019-12-19 20:04] DavidWells commented on #634
Hey @jlengstorf sites need an index.html file to deploy functions

The repo https://github.com/jlengstorf/fntest doesn’t work on current build bot either.

This should work like you describe though where everything should just magically work.

It's not possible to deploy functions only. You need at least a blank html index.html page for this to work. like https://github.com/DavidWells/blank-netlif

[2019-12-19 20:21] jlengstorf commented on #634
I was able to build without an index.html, for what it's worth

https://gifted-curie-d55cbb.netlify.com/.netlify/functions/test

https://app.netlify.com/sites/gifted-curie-d55cbb/deploys/5dfbd1613648a50188c9738f

I would definitely expect this to work, too — serving an empty folder is not standard, but _should_ be possible if all I want to do is deploy my functions.

This is specifically useful wh

[2019-12-19 20:33] DavidWells commented on #634
Weird. The same repo results in different logs & outcomes

- https://app.netlify.com/sites/nervous-nobel-15b52a/deploys/5dfbd590a4a41d01802745ba
- https://app.netlify.com/sites/gifted-curie-d55cbb/deploys/5dfbd0d711853b255946c83a

Did you change anything for the functions to deploy correctly on your third deploy? I'm curious where the old buildbot is finding the `functions` dir or if thats a new d

[2019-12-19 21:28] jlengstorf commented on #634
I had to add Functions settings for the folder — otherwise no changes

[2019-12-20 13:54] #218 closed

[2019-12-20 14:16] ehmicky commented on #412
After discussing this with @sw-yx on Slack, we came to the following conclusion: all that is needed is moving function files to the `constants.FUNCTIONS_DIR` directory before functions are handled by `@netlify/plugin-functions-core`. This should be an easy one to implement :)

[2019-12-20 15:26] ehmicky commented on #412
Done at #644.

[2019-12-20 15:29] talves commented on #412
This is awesome! Thanks for thinking this through @sw-yx @DavidWells @ehmicky

[2019-12-20 16:27] fool commented on #613
If this behavior exists in current, customer-facing form, whether we consider it a bug or not, we shouldn't "fix" it without warning, since it could break existing workflows.  Sounds like it would to me, WDYT?  Please make sure that an announcement is (at least) posted in community if we are changing default behaviors.

[2019-12-20 16:29] #412 closed

[2019-12-20 16:47] sw-yx commented on #412
@talves thanks man btw this is kinda what i was envisioning using it https://github.com/netlify-labs/netlify-plugin-search-index

[2019-12-20 17:27] ehmicky commented on #613
@fool Fixing this bug should not change user behavior, but actually revert it to the current buildbot behavior.

The current buildbot behavior is the following:
  - the `build.command` has more priority over the UI setting "Build command"
  - the `build.publish` has more priority over the UI setting "Publish directory"

This bug seems to be the following: when users are enabling the Netlify Build

[2019-12-20 18:34] ehmicky commented on #556
Done at #647.

[2019-12-20 18:56] #556 closed

[2019-12-20 19:43] ehmicky commented on #555
Done at #648.

[2019-12-20 19:53] ehmicky opened #649 "Move `install_dependencies` logic from the buildbot"
As part of #40, we should move the [`install_dependencies`](https://github.com/netlify/build-image/blob/9cade8af58c2cf3a17a1e9433d2e979149488837/run-build-functions.sh#L159) logic from the buildbot Bash script to Netlify Build. The logic involves installing dependencies by using heuristing to guess which ones the user needs.

[2019-12-20 20:00] #555 closed

[2019-12-20 20:47] ehmicky commented on #634
About the validation error thrown, I found the issue and fixed it in #651.

For this issue general problem, I am wondering if the issue is not the same as #613, i.e. due to the buildbot handling of the configuration file?

[2020-01-06 03:23] JakePartusch opened #654 "Support Chrome install on build bot for plugin execution"
👋 Hey! I'm not sure if this is the correct place for issues/requests for the build plugin beta. If not, let me know!

**Which problem is this feature request solving?**

In attempting to develop a plugin, there doesn't seem to be a way to select to have chrome install on the build image.

Example of the plugin, which utilizes https://github.com/GoogleChrome/lighthouse-ci
[code]
Output:
[code]
**De

[2020-01-06 19:23] DavidWells opened #655 "[Plugin idea] Auth0 custom domain + callback url updater"
When using auth0, you have to hardcode the URLs that your auth0 instance will use. This causes [issues](https://community.auth0.com/t/how-come-allowed-web-origins-does-not-allow-wildcards/9185/69) with auth flows not working with Netlify deploy previews.

With a build plugin, you could automatically set the deploy preview URLs as the allowed URLs in the auth0 client settings using the https://auth

[2020-01-06 19:42] ehmicky commented on #654
Hi @JakePartusch!

Our build image does not have Chrome installed by default (I believe).

You could either:
  - create a separate plugin with the sole purpose of installing Chrome (in an `onInstall` event handler), and ask users to use both. We are working on features to bundle plugins together in the future.
  - add an `onInstall` event handler to your plugin, to install Chrome.

For better perf

[2020-01-06 21:40] DavidWells opened #657 "[CI] Yarn test failed then passed"
Ran into a weird issue with the yarn snapshot tests.

On the first test run, the yarn test is failing. Then after running again it worked. I suppose this is because the dependancies get installed by the first test run.

This is likely to cause CI hiccups in the future when if the test caches poof. Is there a better way to test this stuff. E.g. the outcome vs the output of the terminal?

Details:

[2020-01-07 00:00] DavidWells opened #658 "[bug] onEnd Lifecycle order #s incorrect"
The `onEnd` steps of the lifecycle are numbered 1 & 2 when they should be steps 14 & 15.

[code]

See:

https://app.netlify.com/sites/brave-wescoff-0cd39a/deploys/5e13c95967a26b00086bf23c

Repo:

https://github.com/DavidWells/netlify-plugin-debug/tree/a3a9b8fc4af9a2a853da8b9e4aee29960b3d309c

[2020-01-07 19:55] ehmicky commented on #657
I temporarily disabled this test (5fae34cc) until we find out why the build output is non-deterministic there.

The tests should not be run on every push anymore since 8c0660fa. Please let me know if this is not the case on your machine.

[2020-01-07 19:57] ehmicky commented on #658
Thanks for finding this out. I will fix this as soon as possible.

[2020-01-07 21:08] DavidWells opened #659 "Build fails if no build command found"
If no build command found, execa tries to exec "" and fails.

[code]

Scenario: A site without a build command (very rare) will fail when execa tries to run an empty shell script.

See: https://app.netlify.com/sites/netlify-build-example-basic/deploys/5e14e9e9d0417433e6584aeb

[code]

## Suggested fix

Instead, if build command is empty, the execa run build command should be skipped with a log lik

[2020-01-07 22:45] DavidWells opened #660 "Add Core Utils"
While trying to use a utility in a plugin, the utils object is empty.

[code]

The utils object should contain the newly created utility methods `utils.git`, `utils.cache`, `utils.run` etc.

[2020-01-07 22:57] DavidWells opened #661 "[chore] Speed up tests"
Running the test suite is a big issue for local development. The tests are taking upwards of 5 minutes locally on a MacBook Pro (2017), 3.1 GHz Intel Core i7, 16 GB 2133 MHz LPDDR3.

The memory consumed while tests are running causing my machine to become unusable while the test suite is running in the pre-push githook. @RaeesBhatti has reported similar troubles with his machine.

**Which problem

[2020-01-07 22:59] DavidWells commented on #661
The current workaround is:

[code]

[2020-01-07 23:17] #498 closed

[2020-01-07 23:29] DavidWells commented on #611
That would be easier. We could achieve this now in userland. Perhaps we should promote this approach first as we iron on further details here.

[code]

---

It will be very important for output values to be referencable once `addons` are also definable in the Netlify configuration file.

It is also critical that we consider this as an implementation detail that we will need to support. E.g. resolv

[2020-01-07 23:31] DavidWells commented on #634
This should be fixed. One error that crops up if no build command is resolved is happening https://github.com/netlify/build/issues/659 This is a rare edge case & would also surface if there are "headless" sites just using functions like shown here

[2020-01-08 00:11] DavidWells commented on #603
I make a working example of how this works today https://github.com/DavidWells/netlify-build-programatic-plugin-usage

- Only one plugin is defined in config: https://github.com/DavidWells/netlify-build-programatic-plugin-usage/blob/695f75fb751c4328baa5f67651df295f6ce0e1fc/netlify.yml#L6-L10
- The orchestrate plugin runs the plugin methods (in this case `onInit` but it could be any of them or cust

[2020-01-08 00:15] #351 closed

[2020-01-08 06:54] jlengstorf commented on #611
I'm still _really_ nervous about encouraging people to import plugins inside their plugins. I've never seen that go well from a maintenance standpoint. Providing a clear API gives us a way to say "we support this, but not that" — telling people to import plugins makes that line blurrier and harder to communicate.

[2020-01-08 07:00] jlengstorf commented on #603
The `pluginExecute` should run whatever lifecycle it's called from by default. In the initial spec, we also proposed a config option that would allow you to specify which lifecycle method would be run:

[code]

I know I'm repeating myself a lot here, but telling people to handle stuff like this in userland is a footgun that's going to cost our support team a HUGE amount of time as the ecosystem sc

[2020-01-08 11:36] ehmicky commented on #661
Since 8c0660fa, tests are not run automatically on `git push` anymore, they are only run in CI or when manually calling `ava`.

That being said, I agree the tests are slow and should be sped up.

[2020-01-08 11:54] ehmicky commented on #660
Did you first install the utility?

[code]

[2020-01-08 12:33] RaeesBhatti commented on #39
I'm picking up this issue to start working on it.

[2020-01-08 15:45] JakePartusch commented on #654
Thanks @ehmicky, I'll give that a shot!

[2020-01-08 15:46] #654 closed

[2020-01-08 17:25] DavidWells opened #664 "0.1.30 to 0.1.31 lifecycle regression"
It looks like there was a regression on lifecycle event names between versions.

Working build on v0.1.30 https://app.netlify.com/sites/brave-wescoff-0cd39a/deploys/5e14c287958dde5302184307

Broken on v0.1.31 https://app.netlify.com/sites/brave-wescoff-0cd39a/deploys/5e160c4faca58a14d4901d9f

[code]

Were changes made to the lifecycle?

[2020-01-08 17:31] DavidWells commented on #660
No doesn't look like I have it installed.

It was original implemented as being part of the utilities object without any additional user action.

Any insights on why this changed?

[2020-01-08 18:09] DavidWells commented on #524
Keeping open as API spec is listed above

[2020-01-08 19:01] DavidWells commented on #664
Looks like names were changed https://github.com/netlify/build/commit/7c90707006bda83854922ee86a882fefa99340fb#diff-879ba1ebe268c9c6ef2c1ae1379c039e

There are 2 lifecycle events relating to functions.

1. functionsBuild
2. functionsPackage

`functionsBuild` by default is a no-op because we don't build function code, its just raw lambda code. This is where plugins can hook into and add custom func

[2020-01-08 19:14] DavidWells commented on #611
^ Adding link to import plugins issue for reference https://github.com/netlify/build/issues/603

---

@jlengstorf what issues have you seen from the maintenance standpoint?

[2020-01-08 20:42] lesliecdubs commented on #39
FYI in case this is useful, we already have some very basic heuristics set up in the app. As swyx mentioned, we only use them right now to detect a user's build command and publish folder in the "create a new site" flow once a repo is linked.

https://github.com/netlify/netlify-react-ui/blob/master/src/lib/heuristics/automation.js

[2020-01-09 00:36] DavidWells opened #665 "Remove default build dir `.netlify/build`"
We need to remove the default `.netlify/build` publish dir

This is causing issues in the CLI https://github.com/netlify/cli/issues/676 where this line https://github.com/netlify/cli/blob/master/src/commands/deploy.js#L94 is no longer firing b/c the default is set to `.netlify/build`

This is causing the error message to not show for users of the CLI trying to deploy while missing that value.

One

[2020-01-09 00:55] jlengstorf commented on #611
if there's no clear delineation between "supported" use cases and unsupported use cases, then _every_ question will be sent to support, and it's really hard to define where we get to say, "That's not our problem."

(and even if we _do_ say that, if there's no clear boundary people will be salty because they have no way of knowing what is and isn't supported)

people will start to make up their own

[2020-01-09 07:04] DavidWells commented on #611
This does make sense. Thanks for the response @jlengstorf

I agree! That would be a big problem. For this reason the core plugin API must remain stable and only additive changes can be made. We have seen this issue already in the early beta & moving forward toward a v1.0.0. we are only making backwards compatible changes.

Where I'm not following you is **how** user land code & using plugins ([des

[2020-01-09 07:31] DavidWells commented on #603
Interesting. Trying to understand the utility shape & how it might be used.

Is this what you mean?

[code]

If yes, a couple clarifying questions.

1. What does the full corresponding configuration (netlify.yml/toml) look like?
1. What is the return value from `utils.pluginExecute` that is set to `const output` if multiple lifecycle methods are run.
2. Is this example of `config` correct? e.g. is

[2020-01-09 13:58] ehmicky commented on #660
This is following the design discussion at https://app.slack.com/client/T02UKDKNA/CPCL7QAE4/thread/CPCL7QAE4-1574850878.442300 on how utilities should be used/installed. The main reason is allow plugins to specify the version of the utilities they use and to allow utilities to introduce breaking changes without breaking existing plugins.

[2020-01-09 14:12] ehmicky commented on #665
Should the build when no `publish` directory is specified?
Also: what is the current behavior when no `publish` directory is specified?

[2020-01-09 14:21] ehmicky commented on #664
You're right, this is breaking backward compatibility. I will fix this as soon as possible.

[2020-01-09 19:43] jlengstorf commented on #611
my caching plugin had a bug (something changed upstream, but it could have just as easily been that I did something wrong and published it), and my builds broke

this would work, but the vast majority of devs (myself included) just upgrade deps when new versions are released because I assume that the maintainers wouldn't ship breaking changes unless they bump the major release — I only think about

[2020-01-09 22:10] DavidWells commented on #660
Ah I misunderstood this I guess. I was under the impression they could be installed & pegged to a version but would also just included by default.

Other than offering us more flexibly in introduce breaking changes to utility APIs in the future, are there any other benefits to requiring individual plugins to install utilities independently?

[2020-01-09 22:34] DavidWells commented on #611
This was a core breaking change and a regression. Again apologies for this, an oversight on the release process we are working on. This break would effect all plugins regardless of how they are used (via code or via util).

From what I can tell, this isn't really something we can prevent. This is true of all dependancies plugins & frontend/backend functions deps. If versions get bumped & the autho

[2020-01-09 22:53] DavidWells commented on #665
Mmmm good question.

In CI, If `publish` dir is empty the current working directory is published see example: https://github.com/DavidWells/no-publish-dir/tree/master + https://app.netlify.com/sites/reverent-swirles-112355/deploys/5e17ae28ce6964ae56f28fec

On the flip side, the CLI throws an error b/c it's so rare that there is no build dir & is 99% chance of user error.

I'd imagine sites with no

[2020-01-10 17:14] jlengstorf commented on #603
I don't think we should allow complex config via TOML/YML — you would install the orchestrator and any sub-config would need to be passed in the orchestrator config

[code]

that seems reasonable. as the API gets built out, it may need to include additional meta-config, but I don't really know what that might require because I'm not in the code

I don't think so; this would be like an npm package

[2020-01-10 17:25] jlengstorf commented on #611
Yeah, this is kind of getting at a core concern I have about build plugins in general. If we can't _easily_ trace what's happening in every build plugin and let people know which one broke and why in extreme detail, people will think Netlify is broken if they install a junk build plugin.

It won't matter that they're wrong or that it's not our fault, because public perception will be a tweetstorm

[2020-01-10 17:42] DavidWells commented on #603
Thanks for this!

So to summarize, If I understand the comment above correctly:

The API you are suggesting is 2 utils `pluginExecute ` & `executeLocalPlugin `. These utils would be included in core with no additional installation required

[code]

And the corresponding config would look like:

[code]

Does the above code look correct?

---

I agree, defining the single plugin (that maybe under th

[2020-01-10 20:37] DavidWells opened #667 "Inject CI/buildbot environment variables when run locally"
If build is run via the CLI, there might be `process.env` vars like `process.env.SITE` that are undefined locally.

[code]

Similar to how `netlify dev` works, we should be injecting these variables locally when build is run via the CLI.

It would likely need to be a subset of https://docs.netlify.com/configure-builds/environment-variables/#netlify-configuration-variables

[2020-01-10 20:42] DavidWells opened #668 "[DX] simplify scoped package declarations"
One downside of yaml is having to quote "@" strings

[code]

It would be much nicer if we could do

[code]

[2020-01-11 00:09] jlengstorf commented on #603
this all makes sense, though now I'm wondering if naming should line up better:
- `executePlugin`
- `executeLocalPlugin`

or:
- `pluginExecute`
- `pluginExecuteLocal`

(I think I prefer `plugin` as the util prefix — could also sub-config this as `utils.plugins.execute`/`utils.plugin.executeLocal`)

one example could be consolidating the lifecycles (which are what I mean by meta-config):

[code]

I

[2020-01-12 00:39] DavidWells commented on #659
Additional examples:

- https://app.netlify.com/sites/mgi/deploys/5e1a416e52e923942ed42311
- https://app.netlify.com/sites/mgi/deploys/5e1a416e52e923942ed42311

[2020-01-12 01:08] jlengstorf commented on #659
no build command isn't _that_ rare, honestly

a couple use cases:

- the [Netlify URL shortener](https://jason.af/shortener) via `_redirects` is reasonably popular
- deploying functions separately from the site is being actively advised by some folks since we can't call functions during the site build

both end up with sites that don't have build commands

[2020-01-13 10:39] ehmicky commented on #665
@DavidWells if I understood correctly, you mean:
  - the current behavior is that `publish` defaults to the current directory, and does not error nor print warnings
  - we want to change that behavior to throwing an error instead

Did I understand this correctly @DavidWells?

@fool what are your thoughts?

[2020-01-13 10:45] ehmicky commented on #668
The current behavior is based [on your previous comment](https://github.com/netlify/build/issues/68#issuecomment-536121048).

@ehmicky

@DavidWells

I am good with either solution, just want to make sure we stick to it.

[2020-01-13 10:52] ehmicky commented on #660
Some other advantages include:
  - Users do not need to install our utilities when they don't use them, leading to smaller npm packages and faster installs.
  - We can track the downloads count of each utility independently to see which one is used or not.

The possibility to introduce breaking changes in utilities in a major benefit from a forward compatibility standpoint. We are saving ourselves

[2020-01-13 12:02] ehmicky commented on #557
Which name do you think would fit best variables holding the netlify client:
  - `api`
  - `client`
  - `netlifyClient`
  - `apiClient`
  - `netlify`
  - others?

[2020-01-13 12:09] #664 closed

[2020-01-13 13:13] ehmicky commented on #659
Thanks for reporting this!
This should be fixed by #671.

[2020-01-13 13:22] ehmicky commented on #634
Now that #659 is fixed, can this issue be closed or is there something pending.
@jlengstorf could you confirmed whether this issue is still a problem?

[2020-01-13 13:57] #658 closed

[2020-01-13 14:39] ehmicky commented on #603
I like the proposal. :+1:

The `netlify.yml` `package` property distinguishes between local paths and Node modules using the Node.js module resolution algorithm (with the [`resolve` library](https://github.com/browserify/resolve)). There might probably be no need to introduce separate methods since we can determine from the argument whether the user intends to use a Node module or a local path.

T

[2020-01-13 18:52] ehmicky commented on #660
Tagging @philhawksworth and @shortdiv which brought this up during a video call.

[2020-01-13 22:42] DavidWells commented on #665
The behavior should be the same as the current build bot to ensure backwards compatibility. Try a site with an index.html in root with no build command. Thats the default we need.

The CLI, however, acts differently than the buildbot. The CLI will error if no `dir` flag is found or the `publish` dir isn't set in a netlify config file. This is desired (in CLI) to guard against potentially empty sit

[2020-01-13 22:47] jlengstorf commented on #603
I think I'd argue that an orchestrator plugin is a full abstraction of the underlying plugins, so dry runs wouldn't show underlying plugins being used — they're an implementation detail at that point

like, I don't expect the dry run to tell me that a plugin imports lodash or axios — an orchestrator turns plugins into underlying libs to accomplish a higher-level goal, so I feel like there doesn't

[2020-01-13 23:30] DavidWells commented on #668
This could be an error in my IDE yaml linter but I've reproduced on [yamllint](http://www.yamllint.com/). It appears values starting with `@` need quotes.

![image](https://user-images.githubusercontent.com/532272/72300684-56689c00-3619-11ea-8291-eb614f792f31.png)

Let me think on this...

It would be nice but also could cause problems. It's likely that most plugins won't be scope and won't have t

[2020-01-13 23:45] DavidWells commented on #557
Curious to hear what others think. @jlengstorf @philhawksworth @sdras @tzmanics @shortdiv @sw-yx

For context, this is referencing the `api` value passed in here:

![image](https://user-images.githubusercontent.com/532272/72301348-59fd2280-361b-11ea-9b46-35ab63bf2d6e.png)

Is `api` clear or would another suggestion above make more sense?

[2020-01-14 00:07] DavidWells opened #675 "Strategy for updates to CLI"
We need a strategy for updating `@netlify/build` & `@netlify/config` consistently in the CLI.

Currently, users need to `npm uninstall netlify-cli -g` and then `npm install netlify-cli -g` to install the latest version of `@netlify/build` & `@netlify/config`.

This leads to unexpected errors and no clear way to recover from them.

---

Example: I'm trying to run `netlify open` and it fails because

[2020-01-14 00:48] DavidWells opened #676 "Git Utils fileMatch API design"
Looks like a core bit of the git util functionality was removed with a refactor.

https://github.com/netlify/build/blame/master/packages/git-utils/README.md#L48-L53

The `fileMatch` function should return a function that

Original code:

[code]

`getKeyedPaths` returns an object that looks like:

[code]

This is quite important for advanced diffing functionality.

Can we please get this back in

[2020-01-14 01:08] DavidWells commented on #676
API is now described in the docs https://github.com/netlify/build/blob/f8197c41f08497d04fa11ef02adeea7548d99cdf/packages/git-utils/README.md#api

[2020-01-14 01:24] DavidWells commented on #660
Based on the feedback from the DX team & my own issues with this, I think this is something we need to reconsider.

An original design goal of plugins was to make them as easy as possible to create & use. From what I have seen, the extra steps to know about which utils exist & having to install/maintain them adds more friction than we'd like with the overall experience.

Compatibility, feature tra

[2020-01-14 10:37] philhawksworth commented on #660
I confess that my initial assumption about utilities was that they would be core to the build system for my plugins to make use of without installing them individually or explicitly.

I see logic in the reasoning for making them something user elect to include in the builds though. Particularly with a view to performance and compatibility.

Personally, and as a plugin author, I would be comfortabl

[2020-01-14 11:34] philhawksworth commented on #557
Part of me likes the idea of it being called `netlify` since it is the API to interact with the Netlify sdk. But I think that might lead us to a place where the word is a bit overloaded and confusion might creep in.

Calling it `api` and documenting it as you have seems logical to me.

(And I appreciate seeing this level of detail being exposed, BTW. Knowing that any plugin could access these thin

[2020-01-14 12:05] ehmicky commented on #660
I agree that not requiring an explicit `npm install` would be simpler for the end user. We can do this, but we do need to commit to the consequence, i.e. utilities cannot introduce any breaking changes. This most likely will be an issue at some point. However if this is something we are comfortable with, I can implement it like that :+1:

@shortdiv and @jlengstorf What are your thoughts on this?

[2020-01-14 12:16] ehmicky commented on #676
This function was not removed, it moved to the top-level for simpler user access:

[code]

[2020-01-14 13:06] ehmicky commented on #668
Yes YAML requires values starting with `@` to be quoted. That was the discussion we had in the comments above. Whatever we choose, I can implement, just let me know.

[2020-01-14 13:28] ehmicky commented on #675
When a new release of `@netlify/build` is available, users should get it the next time they update their global binary of `netlify-cli`.

I think manually entering `npm update -g netlify-cli` should work as well, without needing to run `npm install` then `npm uninstall`.

I don't think npm allows automatically updating `node_modules`. At some point, the user has to run `npm install` or `npm update

[2020-01-14 13:51] ehmicky commented on #665
I just tried and the current behavior seems to be that `publish` defaults to the current directory, and does not error nor print warnings.

Now I am wondering: why should the CLI behavior differ from the Netlify CI? For example, in https://github.com/netlify/cli/issues/676, the user forgot to specify the `publish` directory and did not expect the default value to be `dist` instead of the current d

[2020-01-14 16:59] DavidWells commented on #162
TODO look into the mongoDB complexity

Also outputs.

[2020-01-14 18:55] #657 closed

[2020-01-14 18:56] ehmicky commented on #657
I should have fixed the test now with #692. I am monitoring it to make sure it properly works.

[2020-01-14 19:55] jlengstorf commented on #634
@ehmicky still doesn't work https://app.netlify.com/sites/infallible-poincare-2a7073/deploys/5e1e1c31cc2a3eb6f118e009

drag-and-dropped a folder with only a `functions/my-first-functions.js` in it

this is a 404:
https://infallible-poincare-2a7073.netlify.com/.netlify/functions/my-first-function/

[2020-01-14 21:04] DavidWells commented on #216
This is implemented here: https://github.com/netlify/build/tree/master/packages/cache-utils

We want to battle hardened and verify the API works for everyone.

@sdras, @shortdiv, @jlengstorf, @philhawksworth, @sw-yx, @tzmanics can the DX folks have a look at the caching utility & give it a spin?

To use the utility. Install `@netlify/cache-utils` in the plugin directory where it is used. Once we h

[2020-01-14 21:17] jlengstorf commented on #216
I like all of this _except_ the first step — it's a little weird to install a package but then never use it but also it's globally available

it feels like a lot of indirection

is the idea that this would be automatically provided by the core once it hits stable/production release?

if so, would it maybe make sense to move the install to the plugin config itself?

for example, instead of running

[2020-01-14 21:21] jlengstorf commented on #660
@ehmicky I just added some thoughts in this issue: https://github.com/netlify/build/issues/216#issuecomment-574378081 — I'll avoid adding extra commentary here to try not to fragment the discussion

[2020-01-14 21:37] DavidWells commented on #216
The installation step will completely go away & we want to keep this as simple as possible for devs to use the core bundled utilities. `api_previews` is an interesting idea & will likely be something we need to support in the future as new platform features/utils need to be supported + rolled out.

Steering this back toward the original question around the caching utility API https://github.com/ne

[2020-01-14 21:43] DavidWells commented on #634
Hey @jlengstorf it looks like the environment variable isn't set to enable the beta on https://app.netlify.com/sites/infallible-poincare-2a7073/settings/deploys this means this flow is using the older (current) version of the build.

Additionally, I'm not sure you can use the new beta on drag/drop sites as they are setup to be manual deploys. E.g. you can't trigger new builds here.

![image](https

[2020-01-14 21:46] DavidWells commented on #660
List of Utils to add to core.

- [ ] Add cache util
- [ ] Add git util
- [ ] Add functions util
- [ ] Add headers util
- [ ] Add redirects util
- [ ] Add functions util
- [ ] Add run util

First we need to verify the APIs are solid, pleasant to use & will allow for future iteration

- [ ] verify cache util DX
- [ ] verify git util DX
- [ ] verify functions util DX
- [ ] verify headers util DX
- [

[2020-01-14 21:48] jlengstorf commented on #557
would it make sense to put this under `utils` — it kind of feels like the same thing?

`utils.api` or `utils.sdk` or something similar

maybe I'm missing some context, but is there a reason to add another top-level property?

[2020-01-14 21:53] jlengstorf commented on #216
I'm assuming the README is the only docs we're reviewing, right?

this all looks great, and the API seems reasonable

my only feedback would be to maybe combine the API and examples? I had to bounce between sections to read what the options were, then see how they get used

[2020-01-14 22:07] jlengstorf commented on #634
after enabling the beta it works https://app.netlify.com/sites/lucid-davinci-c0a976/deploys/5e1e3b399be4bf01ef411f88

[2020-01-14 22:43] DavidWells commented on #634
Nice! Thanks for verify that.

Closing this issue

[2020-01-14 22:43] #634 closed

[2020-01-15 00:42] fool commented on #665
I think that publish should default to the root of the build (either repo root if not base set, or `path/to/base/`), only changing in case it is specified.  This is a heavily used default, and not just in the case with no build command (which means we don't invoke a build process at all, though buildbot still deploys that path) I would have assumed that the cli did the same thing, but I don't use

[2020-01-15 10:51] ehmicky opened #693 "Allow breaking changes in utilities"
Follow-up on #660 and https://github.com/netlify/build/issues/216#issuecomment-574378081

What's our strategy for introducing breaking changes in utilities without breaking existing plugins?

@jlengstorf is suggesting the following syntax:

[code]

For information, the former approach (that got removed) was to require plugins to `npm install` the utility, hence using the `package.json` `dependenci

[2020-01-15 10:53] ehmicky commented on #216
Thanks for the feedback @jlengstorf!

I am going to improve the `README` based on your feedback.
I have also added #693 to address your earlier comment about versioning and `npm install`.

As @DavidWells is mentioning, any additional feedback on the API is welcome :)

[2020-01-15 10:56] ehmicky commented on #660
Based on your feedback @DavidWells @jlengstorf @philhawksworth I am going to remove the additional `npm install` step to use utilities. Thanks for steering me in the right direction on this one, that was a bad design choice on my part.

I have added #693 to address the question of breaking changes.

[2020-01-15 11:10] ehmicky commented on #557
Yes @jlengstorf I think you're right, this should live under `utils.api`.
@DavidWells what do you think?

[2020-01-15 11:26] ehmicky commented on #665
@fool Thanks a lot for jumping on this!

The behavior you're describing happens in the Netifly CI both without and with the Build beta enabled. In other terms `@netlify/build` does not change the current behavior in that respect.

The question is when users deploy builds via the Netlify CLI. At the moment the deploy throws an error when `publish` is not defined. Do you have some additional thought

[2020-01-15 15:19] ehmicky opened #695 "Speed up utilities loading"
With #694, all `utils` are loaded by plugins even when they are not used.

This is an issue with the `git` utility since that utility needs to execute several commands on load:
  - `git rev-parse` to verify the base commit
  - `git diff` to retrieve the list of modified/created/deleted files
  - `git log` to retrieve the `commits` returned object

Those commands can be a little slow in some cases.

[2020-01-15 17:05] DavidWells commented on #695
Do we know the impact on speed? Some numbers would help in this case.

If git commands are run individually per plugin this could* have have an inverse compounding effect on speed, making things slower.

I like the idea of making things as fast as possible. Perhaps this is something that can happen before the build sequence is begun outside of the billing cycle entirely in buildbot.

In any case,

[2020-01-15 17:14] ehmicky commented on #695
Those git commands are run only once for all plugins. However some of them are run serially. I will make some benchmarking to see the impact.

Another issue is that if those commands fail for some reason (for example the git repository is not properly setup or the base commit is wrong), the build will fail even if the git utility is not used. What are your thoughts about this?

[2020-01-15 18:27] DavidWells commented on #695
It should be the gold standard where we catch & prevent errors from crashing builds.

Taking this into account, I'd imagine the git utils should noOp & return the default object if an error occurs or no git repo is found.

The default object being the same shape by empty. E.g.

[code]

This would ensure any plugins that run that use these values won't suddenly fail.

Additionally, depending on the

[2020-01-15 18:53] ehmicky commented on #695
If a user is experiencing issues with `modifiedFiles` being an empty array, how do we know whether:
  a) Their git repository actually has no modified files, i.e. `modifiedFiles` being an empty array is correct.
  b) Their git repository is not properly setup, or not setup at all.
  c) There is a bug in our code

We would be lacking information to debug those situations. This might add some additi

[2020-01-15 19:06] DavidWells commented on #695
If there is a broken git setup it should throw with what the error is. If it’s a recoverable error, we should try to do that.

If there is no git (locally) it should not throw but have default object and maybe log out “no git dir found”

Im not sure if it’s possible for the buildbot to even run in git is broken. This would be worth investigating & verifying

[2020-01-15 19:09] ehmicky commented on #695
Just to make sure I understand: if the git repository is not properly setup, or not setup at all, an error should be thrown? Should this error stop the build, or only be printed as a warning?

[2020-01-15 19:51] DavidWells commented on #695
We want to do as much as we can to ensure we guard against errors & additional burden on users to debug/dig into internals etc.

Git repos are not a requirement of Netlify sites. So this utility should not fail the build if no git repo is found. Thus the default values of the util.

There are real git errors that have occurred reported by support https://netlify.slack.com/archives/C179K6Y0K/p15791

[2020-01-15 20:04] ehmicky commented on #695
Thanks for your answer.

It is hard programmatically to know what caused an error since an exception often shows a problem that was unexpected during coding. We can flag some broad categories of errors by `error.name`, but that would not work for all errors.

To take a precise example: let's say a `git diff` command is throwing an error. Should:
1. The build be stopped, or continue?
2. The error m

[2020-01-15 20:10] DavidWells commented on #695
If `git diff` fails, thats likely due to a deeper "unrecoverable" error in the git setup itself. That would be a case for hard fail.

However, first you'd want to verify that `git` exists in the first place & this is in fact under src control. If not, `git diff` failing would be expected (and shouldn't even be tried b/c cwd isn't git controlled).

So probably something like:

[code]

[2020-01-15 20:12] DavidWells commented on #695
I agree, It is super hard to guard against errors. We should probably investigate bugsnag/sentry for this. However one thing to note around these error reporting tools we can't use the "track everything" defaults they have because that can leak secrets into the third party provider. Error reporting will likely need to be manually instrumented

[2020-01-15 21:34] DavidWells opened #700 "Base directory incorrect for monorepos"
It looks like the `build.command` is running in the root directory versus the `build.base` directory.

https://app.netlify.com/sites/monorepo-base-dir-repro/deploys/5e1f844ba0553600078e5594

This repro repo was reported by a user trying build plugins. He was only able to get them working without a mono repo setup.

https://github.com/DavidWells/netlify-build-mono-repo-base-dir

It seems like we ne

[2020-01-15 22:30] DavidWells commented on #693
This is a very important issue. Thanks for adding this.

There are 2 pieces here:

1. How to make sure we don't break things in the broader ecosystem
2. How can we roll out new preview features

---

## How to make sure we don't break things in the broader ecosystem

The main thing here is to **never** break plugins. This means supporting older APIs forever until (potentially) a v2 plugin is relea

[2020-01-16 00:30] DavidWells opened #701 "Verify multi-language function sites work"
There are instances where a use will have a javascript and a go based function in the same project.

Like @futuregerald's https://github.com/netlify-labs/functions-react-mongo

This works in current buildbot https://app.netlify.com/sites/multi-runtime-functions-site-example/deploys/5e1fad81e39c1da990975aa5

But fails when beta is enabled https://app.netlify.com/sites/multi-runtime-functions-site-e

[2020-01-16 00:44] DavidWells commented on #667
This would need to be implemented in the CLI https://github.com/netlify/cli/blob/master/src/commands/build/index.js logic similar to how `netlify dev` inject env vars https://github.com/netlify/cli/blob/master/src/commands/dev/index.js#L354

[2020-01-16 00:55] DavidWells commented on #557
Not sure on this one yet. We have time to figure it out while waiting on https://github.com/netlify/bitballoon/issues/4980

[2020-01-16 01:02] DavidWells opened #702 "Generating new build plugins"
Placeholder issue for figuring out a nice user flow for generating new build plugins from a template or via an interactive CLI

Related: https://github.com/netlify/build/issues/238

[2020-01-16 01:04] DavidWells commented on #701
Related https://github.com/netlify/build/issues/529

[2020-01-16 01:08] DavidWells commented on #224
This is in review https://github.com/netlify/build/pull/663 please chime in if you have comments on the proposed API!

Closing this out

[2020-01-16 01:08] #224 closed

[2020-01-16 01:31] DavidWells commented on #141
While it might be nice to have...

I think this might cause other problems. E.g. users expecting env vars to be strings.

The default behavior of `process.env` vars are strings.

[code]

[2020-01-16 01:31] #141 closed

[2020-01-16 01:37] DavidWells commented on #665
The CLI acts differently as a safe guard so users don't accidentally forget their build command & run a `netlify deploy -p` with a essentially a broken build. This would take down their site.

This is also why `netlify deploy` requires `-p` or `--prod` flag to guard against user whoopsies.

Instead they must run `netlify deploy --dir . --prod`  if no directory is set in their config file.

[2020-01-16 13:01] ehmicky commented on #695
Sounds good.

To dig a little deeper into the `git diff` example: let's say that `git diff` failed for another reason than the `git` setup itself. Following your comment, that means we should do a "hard fail", i.e. stop the build. What if the user does not use the `git` utility? At the moment, we have no way of knowing if the user did not intend to use the `git` utility, i.e. we would make their b

[2020-01-16 13:16] ehmicky commented on #693
So, in a nutshell, we choose not to introduce any breaking changes anymore in utilities.

I am fine with this solution, I just wanted us to be explicit and committed to that decision, since this will increase our maintenance and support cost.

[2020-01-16 13:19] ehmicky commented on #667
`@netlify/build` can also be run programmatically:

[code]

At the moment, 100% of build features are available in programmatic usage. I could implement environment variables directly at the beginning of `@netlify/build` so that programmatic users can benefit from them too?

[2020-01-16 13:31] ehmicky commented on #701
Yes I think that one might be solved to #529. We should double-check though once #529 is fixed.

[2020-01-16 13:40] ehmicky commented on #700
Based [on the following discussion with @Benaiah](https://github.com/netlify/buildbot/pull/513#issuecomment-553065693), it seems like the buildbot changes the current directory to `build.base` when present. `@netlify/build` inherits that current directory, so this should be correct.

However due to the following bug in the buildbot (https://github.com/netlify/buildbot/issues/547), the `build.base`

[2020-01-16 15:15] ehmicky commented on #216
`README` improved in #704.

[2020-01-16 15:41] ehmicky commented on #668
What are your thoughts on this @DavidWells?

[2020-01-16 17:24] DavidWells commented on #693
This is correct.

Once utils are shipped we are on the hook for making sure they don't break.

Discovering issues before the release to GA is top a priority. My suggestion is everyone on the team starts hammering on the utils now with a real world plugin to really stress test the APIs, edge cases, & missing features.

[2020-01-16 17:31] ehmicky commented on #693
Sounds good.

[2020-01-16 17:31] #693 closed

[2020-01-16 18:29] tzmanics commented on #557
i'm ok with `api` or `utils.api` or `netlifyApi` to make it more specific. i actually don't like the idea of adding `client` anywhere in there bc i think it might muddle what it is even more. it's the 'API instance of the Netlify SDK' then we add client around there somewhere, it may get a little confusing.

[2020-01-16 19:52] DavidWells commented on #676
Thanks for the clarification.

The sub function is designed to pull back the specific effected paths.

Have `git.match` and `git.fileMatch` is confusing. Which does what? Why are there 2 etc.

The `getKeyedPaths` is specifically related to the previous glob pattern.

[code]

It might be possible to simplify the top level API. E.g. automatically including the `getKeyedPaths()` data as a `keyedPaths

[2020-01-16 22:23] DavidWells opened #706 "Programatic way to cancelBuild"
Thanks for suggesting a new feature!

Please fill in the sections below.

**Which problem is this feature request solving?**

Example: I'm always frustrated when [...]

**Describe the solution you'd like**

Example: This could be fixed by [...]

**Describe alternatives you've considered**

Example: Another solution would be [...]

**Can you submit a pull request?**

Yes/No.

Pull requests are welc

[2020-01-16 22:30] DavidWells opened #707 "Add programmatic way to cancel builds"
We need a way to programatically cancel & skip builds.

Currently the way to short circuit builds in a plugin is to throw an error or `process.exit`. This shows builds as failed.

There are scenarios where the build might be exited early or "noOp"ed and shouldn't really show up as a "failed build" in the UI.

Here is an example plugin:

[code]

We need some sort of way for users to exit builds gra

[2020-01-16 22:31] #706 closed

[2020-01-17 01:20] DavidWells opened #708 "Add force update mechanism"
As a user, I might need to ensure that updates from third party systems/webhooks trigger & successfully complete my builds.

Example: A contenful CMS change triggers a webhook that triggers a build in Netlify.

Currently, if you are using a plugin that has git diffing logic like the example in https://github.com/netlify/build/issues/707 the plugin would exit the build early because no source code

[2020-01-17 02:32] DavidWells opened #709 "[Docs] Pull together example sites & plugins for docs"
To improve the docs we need to start collecting & highlighting example repos & plugins they might have.

Starting a list here:

- https://github.com/DavidWells/netlify-build-exit-build-early
- https://github.com/DavidWells/netlify-build-programatic-plugin-usage
- https://github.com/talves/netlify-plugin-debug
- TODO add more 😃

Plugins list

- https://github.com/netlify/plugins + https://github.co

[2020-01-17 02:37] DavidWells opened #710 "Functions utility API design"
The functions util needs some design to ensure we can handle various use cases in the future without major changes in the API.

TODO spec out future requirements & propose API design

[2020-01-17 02:57] DavidWells commented on #695
That's an interesting question. I'm not sure.

I'd imagine if `git diff` is failing its a broken git config or something we can't recover from.

[2020-01-17 03:05] DavidWells commented on #667
Good question. We can pass it in or fetch it inside. No strong feeling on this. I believe this requires the netlify API token (only available locally right now)

Whatever is faster I'd say. Bitballoon currently sends env vars to the buildbot so those values would be available without an additional request to `getSite` to re-fetch. This would be faster in CI but requires buildbot to pass in the val

[2020-01-17 11:41] ehmicky commented on #676
I think two separate functions would be simpler for users, but your last example works as well.

However I think `keyedPaths` should be renamed to something else. What "keyed paths" means is not immediately clear to me. Some other word such as `files` would be clearer IMHO.

[2020-01-17 11:53] ehmicky commented on #695
This would mean those users would have failing builds even though they do not intend to use the `git` utility. I think that is problematic.

When a utility like `git` has some initialization logic that could fail for a number of reasons, I think we should only perform that logic when we know users use that utility.

One way to do this is to require users to explicitly initialize the utility.

[cod

[2020-01-17 12:02] ehmicky commented on #707
I believe this issue might be a duplicate of #241?

[2020-01-17 12:08] ehmicky commented on #708
The `git` utility allows the environment variable `CACHED_COMMIT_REF` to be defined to override the base commit used for diffing. A third party system that triggers builds on chance could use that environment variable to let `@netlify/build` know what the base commit is?

[2020-01-17 18:13] DavidWells commented on #676
I agree `keyedPaths` isn't super clear. `files` makes much more sense but looking at the syntax (see below), its a little odd with `cssFiles.files.edited`.

[code]

`cssFiles.files.edited` reads oddly.

---

Instead how about we flatten the object like this:

[code]

---

Alternatively we can streamline further & make uses check array length. One downside of `cssFiles.editedFiles.length` is it isn

[2020-01-17 18:32] DavidWells commented on #707
Yes same idea. Lets use this thread as design discussion & implementation plans

[2020-01-17 19:27] ehmicky commented on #676
I like both ideas, this is much better than my original design on this!
I have a preference on the second solution, but the first solution works too.
Please pick one, then I can fix this as soon as possible :)

[2020-01-17 19:30] ehmicky commented on #707
I think we should continue on #241 to follow up on the previous design & implementation plans about this?

[2020-01-17 22:35] DavidWells commented on #586
In an effort to simplify things we should clean up the events.

We can always introduce new events later

Here is the list

- onInit - Runs before anything else
- onPreBuild - Before build commands are executed
- onBuild - Build commands are executed
- (waiting on buildbot) onPreDeploy - before deployment finishes and site is live
- (waiting on buildbot) onDeploy - Deployment happens
- (waiting on

[2020-01-17 22:57] DavidWells opened #711 "Improve Error DX"
There have been some comments around error boundaries & general feedback to devs when errors occur.

Here is an example of a plugin with broken code.

[code]

or

[code]

Currently errors materialize like so:

![image](https://user-images.githubusercontent.com/532272/72651778-54fce380-3939-11ea-9046-4506b107d2cc.png)

![image](https://user-images.githubusercontent.com/532272/72651851-a4431400-3939

[2020-01-17 23:13] DavidWells commented on #707
sounds good to me moving over there

[2020-01-17 23:13] #707 closed

[2020-01-17 23:17] DavidWells commented on #241
I'm not sure `shouldStop` as a top level lifecycle event makes sense at this time. It would behave differently that other lifecycle methods & that might lead to some confusion.

Instead, I think a util or top level primitive to skip/cancel builds would be the way to introduce this feature. This would also mean any lifecycle method has the ability to safety skip/cancel builds and not just the singl

[2020-01-17 23:31] DavidWells commented on #708
I don't think the majority of 3rd party systems would know previous commit hashes.

The build might use the `CACHED_COMMIT_REF` previously saved... This might do what we need. From my understanding that `CACHED_COMMIT_REF` is different per branch.

Can you look into this? This will cause some problems for folks using tools to schedule builds & anything that relies on data outside of git history.

[2020-01-17 23:37] DavidWells commented on #675
I guess there are 2 pieces.

1. Keeping dependencies synced.

For example `@netlify/config` is installed separately in the CLI, I think this means there can be a drift if we forget to update that as well. Instead, what if we use the `@netlify/config` already installed with `@netlify/build` is installed.

2. How can we make sure users are updating frequently?

I think the dummy release strategy wou

[2020-01-17 23:39] DavidWells commented on #665
Did we update the values originally described here https://github.com/netlify/build/issues/665#issue-547181940 ?

[2020-01-18 00:36] sw-yx commented on #241
haha great minds

[2020-01-18 01:32] jlengstorf commented on #711
stoked to be talking about this!

I have a lot of different things that I think might be worth discussion, so let me know if we need to break these out into sub-discussions

at a high level, the main issues I see are:

* logs are hard to read and full of unhelpful output
* failures look the same no matter where they came from
* there is no indication in the UI that the error wasn't Netlify's fault

[2020-01-18 01:37] jlengstorf commented on #676
I think I prefer option 2 as well

the keys could return `false` as well if no files come back, which would further simplify usage:

[code]

I think there's also an argument to drop the `*Files` part for keys; I'm not sure it adds additional clarity vs:

[code]

[2020-01-20 11:06] ehmicky commented on #676
@DavidWells What do you think?

[2020-01-20 11:35] ehmicky commented on #711
Thanks for spending time on that feedback. Let's improve this! :)

## Original message from David

I am not sure how we could improve over this. Do you have some ideas?

## Logs are hard to read and full of unhelpful output

I am also a fan of removing unnecessary output where possible. The screenshot you are showing are logs from the buildbot, not `@netlify/build`, so that discussion would need t

[2020-01-20 11:44] ehmicky commented on #241
Yes this sounds good. What about using a small `utils` for this? Something like:

[code]

or:

[code]

or:

[code]

Would a skipped build be marked as successful in the UI? It seems to me the UI should mark it as skipped instead. This goes in line with @jlengstorf comment [on error types](https://github.com/netlify/build/issues/711#issuecomment-575853008) and how they surface in the UI, but with a

[2020-01-20 11:55] ehmicky commented on #675
Since `@netlify/build` and `netlify-cli` are both using `^0.1.*` version ranges, the version of `netlify-cli > @netlify/config` and the version of `netlify-cli > @netlify/build > @netlify/config` should always be the same. When `netlify-cli` installs or updates any package, if a new version of `@netlify/config` has been released (that follows the version range), it should be updated in both `netli

[2020-01-20 12:05] ehmicky commented on #665
I just want to make sure whatever solution is chosen, this works well with the support team.

Specifically I was wondering: @fool what do you think about the behavior when there is no `publish` directory being different depending on whether the deploy was triggered normally (current behavior that you described in your earlier post) or via Netlify CLI (throws an error)?

[2020-01-20 12:54] ehmicky commented on #708
I tried it and it seems like this is working. In particular the `git` utility actually uses `CACHED_COMMIT_REF` by default, so I don't think users would even need to do something to get the right behavior, but please correct me if I missed something.

[2020-01-20 12:56] ehmicky commented on #586
I like that! I will work on this.

[2020-01-20 14:20] ehmicky commented on #586
Done in #712.

[2020-01-20 16:34] #586 closed

[2020-01-20 16:53] ehmicky commented on #613
It looks like this is still happening, see [this comment](https://github.com/netlify/buildbot/issues/538#issuecomment-576356216) and [this comment](https://github.com/netlify/buildbot/issues/547#issuecomment-576353460).

[2020-01-21 04:10] DavidWells commented on #676
I like the simplicity of what @jlengstorf is describing but 1 thing I'm worried about returning arrays & booleans. This might lead to unexpected `TypeErrors`.

[code]

For this reason, I think the utilities should always return a consistent type so user land isn't responsible for `Array.isArray` type checking etc.

---

Lets go with the keys with the file arrays or empty arrays to start. We can ad

[2020-01-21 04:13] DavidWells commented on #241
I like `utils.skipBuild` or  `utils.cancelBuild`.

We need to sync with API team to discuss the current semantics of how builds are reported.

Builds can be failed, skipped, cancelled, queued and I think some other state. cc @kitop will know 😃

[2020-01-21 04:14] DavidWells commented on #675
ok cool. As long as we don't have a drift we are groovy

[2020-01-21 04:14] #675 closed

[2020-01-21 04:16] DavidWells commented on #708
Okay, lets try this out with git utility. It's possible this mechanism would need to extend to the `utils.skipBuild` as well discussed in https://github.com/netlify/build/issues/241#issuecomment-576238473

[2020-01-21 09:59] ehmicky commented on #676
This looks good, I will work on it. :+1:

[2020-01-21 10:02] ehmicky commented on #241
At the moment I believe the buildbot only supports the following logic: if exit 0, build succeeds, otherwise if fails. I.e. adding skipped state would first require the buildbot to accept another exit code (e.g. 2) that would mark the build as skipped?

[2020-01-21 13:19] kitop commented on #241
As @DavidWells said, we do have an endpoint to cancel deploys, which I believe this is what we want to use for this. But yes, it's blocked by the tokens work (which we're working on).
The gotcha there is that it will delete the pod, so we need to be sure that's handled gracefully in this case.

A hack that'd work right now is calling the `builds/:id/log` endpoint with an `error` param. That's what

[2020-01-21 17:59] lesliecdubs commented on #711
Chiming in to +1 these suggestions! I think it's imperative we more clearly surface these errors both in the logs and the UI to avoid user confusion and churn, like @jlengstorf said:

Could we get this work prioritized as part of the #project-build-plugins-ui scope?

Once we know how this is going to work on the backend, it'd be super helpful to get an issue opened in https://github.com/netlify/ne

[2020-01-21 19:23] ehmicky commented on #700
This is still an issue. I have opened https://github.com/netlify/buildbot/issues/569 to track this problem upstream.

[2020-01-21 21:55] ehmicky commented on #317
@kripod @talves This should be fixed now.

I have tested against `talves/netlify-plugin-debug` and it correctly deploys.
Thanks for your patience and please let me know if there is anything else that is still broken.

[2020-01-21 21:55] #317 closed

[2020-01-21 22:11] ehmicky commented on #613
This should be fixed now. Thanks @Benaiah!

[2020-01-21 22:11] #613 closed

[2020-01-21 22:37] DavidWells opened #716 "Build fails when `command` present"
Build failed when `command` present.

Previously this worked and `command` was automatically converted to `onBuild`. This was to ensure backwards compatibility.

There is only 1 plugin and it has `onInit` hook. https://github.com/DavidWells/netlify-build-exit-build-early/blob/081a1fe385593fa4d14587b171ce27acdd19f396/netlify.yml#L7 here: https://github.com/DavidWells/netlify-build-exit-build-early/

[2020-01-21 22:55] DavidWells commented on #716
wow fast fix! Thanks 😃

[2020-01-21 22:55] ehmicky commented on #716
This should now be fixed by #717. I just released it to production.

[2020-01-21 22:55] #716 closed

[2020-01-22 11:49] ehmicky commented on #529
This should be fixed now.

The repository `futuregerald/functions-react-mongo` build is now successful. The Go Functions are correctly deployed and can be called. The login flow of that specific repository returns some error message, but that happens even without the Beta enabled.

[2020-01-22 11:49] #529 closed

[2020-01-22 11:50] ehmicky commented on #701
This should now be fixed (see #529).

[2020-01-22 11:50] #701 closed

[2020-01-22 17:17] DavidWells opened #719 "Automatically install plugins if defined but not found"
A user just ran into an issue where the plugins weren't installed in package.json and the build failed. https://community.netlify.com/t/build-plugin-error-netlify-plugin-x-plugin-not-installed-or-found/7625

We should automatically install missing plugins & make builds more tolerant against failures like this.

If the plugin is missing from `package.json` we should install the plugin & log that th

[2020-01-22 21:44] jlengstorf commented on #711
thanks, @ehmicky and @lesliecdubs!

in my mind this needs to be solved — if a build plugin fails, we should roll back and continue the build as if the plugin wasn't installed. that could be brute-forced by restarting the deploy and removing the plugin config, or (ideally; maybe in the future) treating builds as immutable objects or something so that the build plugin aren't _mutating_ the build, bu

[2020-01-22 22:23] ehmicky commented on #611
An implementation of the `1. Plugins defined in netlify config file` feature is in progress at #720.

[2020-01-22 23:19] biilmann opened #721 "Git util failing in non git directory"
When running `netlify build` in a folder that's not a git repository, the git utility blows up with the message:

[code]

**Steps to reproduce**

run `netlify build` in a folder that's not a git repository

**Expected behavior**

Either ignore the git util or give a clear error message about needing a git repository to run.

[2020-01-22 23:22] DavidWells commented on #721
Thanks for the report. This git util is getting updated and will noOp if not inside a directory.

[2020-01-23 00:14] DavidWells commented on #676
related https://github.com/netlify/build/issues/721

[2020-01-23 00:54] DavidWells commented on #711
I love the level of detail in https://github.com/netlify/build/issues/711#issuecomment-575853008 fantastic. I think the feedback loop from the buildbot & the UI could be greatly improved.

There are some tricky cases to deal with here... Mainly around if a plugin fails, why did it fail, & should we continue or exit the build.

Below are a couple ways things can fail

1. Environment failures

Eg. T

[2020-01-23 01:09] jlengstorf commented on #711
agreed — I buried this toward the end of my original comment, but I think build plugins should have to _opt in_ to kill the build

having an explicit way to fail builds also overcomes the next point:

instead of something arbitrary that may or may not be build-related, e.g.

[code]

we would have a more structured error, e.g.

[code]

this would presumably allow us to capture those errors in a way

[2020-01-23 10:49] ehmicky commented on #721
Related #695.

[2020-01-23 11:22] ehmicky commented on #676
Done at #722.

[2020-01-23 13:26] RaeesBhatti commented on #186
I've read the conversation and I think we're pretty close to a consensus on this issue. Very similar to what @DavidWells proposed, here is my suggestion:
[code]
In the MongoDB plugin in this example, we will simply return the outputs as a plain object. And specify `outputs` explicitly.
[code]
And the `functions-maker` plugin will receive the value simply as a plain JSON type:
[code]

As for its im

[2020-01-23 13:30] RaeesBhatti commented on #186
The above suggestion is very lean in my opinion and puts the responsibility of outputs declaration on the plugin author. And does not require the consumer to declare something using something like `dependsOn`.
In my mind, this will be simple to implement and run, easier to predict the flow and thus less prone to bugs.
Let's discuss this in the meeting today.

[2020-01-23 13:51] ehmicky commented on #186
I think we are all somewhat in an agreement @DavidWells @RaeesBhatti and I (through the started implementation at #720). There are few small syntax details of differences, but we should be able to solve this during our discussion today :)

[2020-01-23 16:58] RaeesBhatti opened #723 "Allow plugin authors to update shared state"
**Which problem is this feature request solving?**

When building the `redirects-utils` and `headers-utils` I realized that the only solution for updating the current config is to write it to config file. But that leaves the existing config in Build engine obsolete and everything that relies on config provided by Build Engine is getting that obsolete config and potentially triggering wrong logic o

[2020-01-23 19:33] ehmicky opened #724 "Rename plugin config to `inputs`"
We talked with @DavidWells and @RaeesBhatti about the word `config` being confusing inside plugins, and suggested rename it to `inputs`. This issue is to track this discussion.

I think for consistency it might be good to rename every instance of plugin config to `inputs`:
  - `config` property used for validation
  - `pluginConfig` passed inside event handlers
  - `config` property in the configu

[2020-01-23 21:30] ehmicky opened #725 "Idea for plugin ouputs"
We just had a meeting where we decided on how to build plugin outputs (#186), which is great!

Now I just had an idea that is actually different, but might super simple both for us and the users, so I wanted to share it with @DavidWells and @RaeesBhatti to know what you guys think of it.

Here it is.

[code]

[code]

[code]

The main trick would be to turn `pluginConfig.example` into a promise. Th

[2020-01-24 14:47] #676 closed

[2020-01-24 16:34] divyenduz opened #726 "Use the latest ZISI with netlify build command (GH integration works)"
**Describe the bug**

The same project with GH integration works but doesn't work with `netlify build` and `netlify deploy` command combination.

Prisma client requires latest version of ZISI (ZISI_VERSION=0.4.0-8) as it contains this fix https://github.com/netlify/zip-it-and-ship-it/issues/77

**Steps to reproduce**

Reproduction repository https://github.com/divyenduz/netlify-ci-build
The repo r

[2020-01-24 17:55] ehmicky commented on #719
Done at #727.

Please note that the original issue in the Netlify community ticket was due to Yarn PnP (I described in the PR the problem with it). This in turns made plugins loading fail. Your suggestion fixes the problem though.

[2020-01-24 18:09] #719 closed

[2020-01-24 19:22] ehmicky commented on #726
Hi @divyenduz,

Thanks for reporting this issue.

`@netlify/build` [is using the latest version](https://github.com/netlify/build/blob/8a46e947f482cec4786c0ecac06429640da12931/packages/build/package.json#L31) of `zip-it-and-ship-it`, i.e. `0.4.0-8`. You can see with the following command.

[code]

I cloned your repository, then ran Netlify Build locally. The functions are bundled in `.netlify/func

[2020-01-24 22:44] ehmicky commented on #723
Yes I agree, we need to provide a way for users to update the configuration file.

I personally prefer your second solution (function) from the first one (Redux) as it is simpler.

Another potential solution would be to re-use the "Plugin outputs" syntax, by allowing users to return the `netlifyConfig` from any plugin method. This would mean "Replace the configuration file with this".

[code]

Wha

[2020-01-27 05:20] fool commented on #665
I think CI should always behave like it has.  No strong opinion on what the CLI does as long as the messaging is very obvious either way.

[2020-02-06 00:23] DavidWells commented on #241
Notify this plugin once implemented https://github.com/neverendingqs/netlify-deployment-hours-plugin/blob/master/index.js#L16

[2020-02-06 09:36] divyenduz opened #730 "Zero-config Prisma and netlify CI usage"
**Which problem is this feature request solving?**

Prisma relies on binaries that have to be compiled per OS. To make Prisma work with netlify, we need to [specify](https://github.com/prisma/prisma2-e2e-tests/blob/master/platforms/netlify-ci-build/prisma/schema.prisma#L9) Prisma's dependency on the OS that netlify functions run on.

**Describe the solution you'd like**

We won't need this configu

[2020-02-06 12:05] RaeesBhatti commented on #161
Fluentd uses the following format for it's log:
[code]
The `level` can be one of: `fatal`, `error`, `warn`, `info`, `debug`, `trace`. I think if we just replace `worker_id` with plugin id/name, it should be good enough for a first iteration. It is simple for now but it supports all of the required functionality and can be extended later on. What do you guys think?

[2020-02-06 12:14] RaeesBhatti commented on #161
As for the implementation, we can either hijack the global ```console` variable, e.g.
[code]
Or we can provide our own logging class that `extends Console`, this way the users will have to do
[code]

I prefer the first one because it doesn't require user's to do anything special and catches all logs.

[2020-02-06 12:51] ehmicky commented on #161
If we want to catch all the logs, we don't need to monkey patch `console.log()`: we can just redirect the child processes stdout/stderr.

Do we want to catch all the logs? Or do we want to separate the commands/plugins "normal" output from the structured logs? @DavidWells

[2020-02-06 19:59] ehmicky opened #732 "[Cache utility] Restoring a directory that already exists"
When running the following command:

[code]

If the `example` directory already exists, the cache utility [will silently ignore `restore()`](https://github.com/netlify/build/blob/033e5b418685fb755406cd0fb863db18a2659dd8/packages/cache-utils/src/main.js#L32). The reasons are:
  - to prevent users from deleting directories by mistake
  - as a performance optimization if users are restoring twice the

[2020-02-06 20:03] jlengstorf commented on #161
@RaeesBhatti @ehmicky  monkey-patching or capturing are tricky — providing an explicit output API and ignoring console logs is what I'd love to see instead

there's no way to be sure whether another library is monkey-patching `console`, and if someone installs a noisy package we don't necessarily want that in the log output

people are already learning how to create build plugins, so telling them

[2020-02-06 20:15] ehmicky commented on #161
I agree with @jlengstorf about monkey patching. I also agree about separating structured logs from other logs.

[2020-02-06 20:32] RaeesBhatti commented on #161
Since we want to capture all logs even if they're not using structured logging methods we provide, we can do a hybrid approach. Provide a `logger` class that plugin authors can use, like so:
[code]
This will capture their logs with the correct log levels and other features of the API.
But the `console.log` statements in their imported libraries can also be captured if we redirect `stderr` and `std

[2020-02-06 20:47] jlengstorf commented on #161
@RaeesBhatti would it make sense to add a non-breaking warning?

[code]

I think this is important because it points back to https://github.com/netlify/build/issues/711 — if messages are sent using an API that's well defined, it's much easier for us to pass those back up to the app UI and expose them on the dashboard

[2020-02-06 20:55] DavidWells commented on #732
Seems like restore should override the existing folder by default

[2020-02-06 20:55] RaeesBhatti commented on #161
Yes, we can add that warning to the logs but I still think that we should capture the logs from `stdout` and `stderr` (`console.log` and `console.error`) because when something breaks, there's more chance of that error coming from a third-party library than the script written by plugin author. And as I said, the messages from `console.log` and `console.error` won't be sent in their raw form, they

[2020-02-06 21:04] DavidWells opened #733 "Beta UI"
Dupe issue because weird milestone limitations

See for issue https://github.com/netlify/netlify-react-ui/issues/3724

[2020-02-06 21:57] erquhart commented on #241
@kitop can you confirm that this is blocked by ongoing tokens work, and can you link an issue where that blocker can be tracked?

[2020-02-06 22:01] kitop commented on #241
Correct!
Working issue: https://github.com/netlify/bitballoon/issues/5379 (Has sub issues linked)
Initial issue, has more detailed discussion: https://github.com/netlify/bitballoon/issues/4980

[2020-02-06 22:03] erquhart commented on #732
Agreed, overwrite by default for now, and we can optimize performance if/when we get feedback requesting it.

[2020-02-06 23:02] erquhart commented on #241
@ehmicky once the token issue is resolved, do you have what you need to implement, Eg., any outstanding arch/design questions need to be resolved?

[2020-02-06 23:10] DavidWells opened #734 "Add IS_LOCAL constant"
Right now, there isn't a way for plugins to easily determine if they are running locally on a machine or in a remote CI context.

The proposal here is to add `constants.IS_LOCAL` as a true/false value.

I think* we can use node tty to detect this? https://nodejs.org/api/tty.html#tty_writestream_istty and the `is-ci` module we are using

The use case here is:

Sometimes plugins should really only r

[2020-02-06 23:23] jlengstorf commented on #732
I assumed it would work that way, yeah

this is also standard Gatsby behavior, so seems like a reasonable place to start

the flag could always go the other way, too:
[code]

that would allow someone to opt out while keeping expected default behavior intact

[2020-02-06 23:28] DavidWells opened #735 "Add mechanism to communicate back to Bitballoon from Build Plugins"
We need a way to communicate back to bitballoon from build plugins.

If an error occurs, it would be great if we can surface those issues to users like described in https://github.com/netlify/build/issues/711#issuecomment-575853008

Additionally plugin outputs & other data would likely need to pipe back into the deploy UI of app.netlify.com to enhance the experience. You an imagine this structured

[2020-02-07 00:33] DavidWells commented on #161
I'd very much like to see if we can implement this without adding any additional utilities for users to learn & make sure they use.

If you look at AWS lambda for inspiration, they simply patch `console.log/etc` and all output flows directly into their logging system under the hood. It just works™

This is increasingly important to ensure all logs flow into the UI for users to see & debug with. Ad

[2020-02-07 12:10] ehmicky commented on #241
To summarize:
  - add a `utils.cancelBuild('message')` method.
  - that method calls `https://api.netlify.com/api/v1/deploys/{deployId}/cancel`.
  - this requires an API token, which is blocked by https://github.com/netlify/bitballoon/issues/5379

The only thing I would need are more information about that API endpoint:
  - HTTP method
  - query variables
  - request body (if any)
  - response bod

[2020-02-07 13:23] ehmicky commented on #161
I think what you are describing @DavidWells is how things are currently setup. At the moment, any output from a plugin (including from `console.log('thing happened')`) is shown in the build output under that plugin's section.

Our UI does not currently allow segregating/sorting/viewing output by plugin but this could be achieved by using the section header as delimiter.

We are currently redirecti

[2020-02-07 13:56] RaeesBhatti commented on #161
I say that we do distinguish between the two types.

And if we go that route, it requires that the plugin authors use our logger library. The logs from our library will have a property that indicates that this is a first-party log. This will allow plugin authors  fine-grained control over the logs and will result in more level precise logs (e.g. info, debug, warning, etc). And allow us to extend t

[2020-02-07 14:26] ehmicky commented on #732
Done at #739.

[2020-02-07 14:36] ehmicky commented on #161
From an implementation standpoint, we are already redirecting `stdout` and `stderr` streams, so we could transform the normal log into a structured one directly inside the plugin process when user is calling the logger library?

I agree that if we want to distinguish in the UI between first-party and third-party outputs, it might be difficult to monkey patch `console.log()` since third-party depen

[2020-02-07 19:17] DavidWells opened #742 "Remove function util until design complete"
Can we remove `utils.functions` until we are complete with the design side https://github.com/netlify/build/issues/710 ?

We don't want folks using that utility yet

[2020-02-07 19:48] DavidWells commented on #161
This is a tricky one. There are many things to consider here

1. There are scenarios where users would like noisy third party logs from dependancies to be excluded from sectioned logging
2. On the flip side, There are also scenarios where this would not be desired & would result in an incomplete view of what is actually happening in the build.

It's likely not possible to know which scenario logs

[2020-02-07 20:49] ehmicky commented on #161
We just had a Slack discussion with @DavidWells and concluded that first-party and third-party outputs in plugins should not be distinguished. I.e. they should be presented the same way to the end users.

Thanks to that, the current implementation already works. We can just use `stdout` and `stderr` from each plugin child process as is, and store it into variables.

We then backtracked into the fe

[2020-02-07 20:53] erquhart commented on #241
The Netlify app is sending a POST to that endpoint, no query string, no body. The response is a deploy object, which should match the definition in the API docs: https://open-api.netlify.com/#tag/deploy

@kitop can you confirm the above, and provide any info about expected error messages (if any)?

[2020-02-07 21:01] DavidWells commented on #161
Looks good to me. Curious to see the format 😃

One other note from the convo:

Because we will have a valid Netlify API key, we do have the ability to fetch the raw logs at the very very end of the build or afterwards via another service. I'd consider this a fall back plan if there are stream/buffer issues with LARGE site deployments or any noticeable performance regressions from running this duri

[2020-02-07 22:05] kitop commented on #241
That's exactly right!
`POST api/v1/deploys/:deploy_id`, no query string, no body.
Response is a Deploy object.

[2020-02-08 00:07] DavidWells opened #743 "Add SITE_ID to constants"
Add site id to constants.

This value is currently not available inside of a build plugin and is not set as an environment variable https://docs.netlify.com/configure-builds/environment-variables/#declare-variables

[code]

This value is needed if plugins are going to be making raw API calls or using their own instance of the netlify SDK.

[2020-02-08 02:20] jlengstorf commented on #732
this doesn't seem to be fixed — see https://github.com/jlengstorf/netlify-plugin-gatsby-cache/issues/2

[2020-02-10 10:11] ehmicky commented on #241
Thanks @erquhart @kitop!

This issue suggests allowing users to pass a string to display in the UI to show why the build was canceled: `utils.cancelBuild('message')`

This was also suggested in #711

Is there a way to do this in the API at the moment?

[2020-02-10 10:12] ehmicky commented on #743
If this something that should be implemented by the buildbot first @DavidWells?

[2020-02-10 10:40] ehmicky opened #744 "Some tests are non-deterministic"
I've noticed few integration tests added recently failing randomly due to race conditions.
Examples:
  - https://github.com/netlify/build/pull/738/checks?check_run_id=431897161
  - https://github.com/netlify/build/pull/704/checks?check_run_id=393538747
  - https://github.com/netlify/build/pull/692/checks?check_run_id=389639528

Removing the race conditions should fix that.

[2020-02-10 10:56] ehmicky commented on #702
Started at https://github.com/netlify/build-plugin-template

[2020-02-10 11:09] ehmicky commented on #693
@erquhart Based on our previous discussion on that topic, you might want to read this issue.

[2020-02-10 11:20] #216 closed

[2020-02-10 11:23] ehmicky commented on #711
The following issues might be of interest as well:
  - allowing ignoring plugin errors: #191
  - retry plugins on errors: #192

[2020-02-10 11:41] ehmicky opened #745 "Improve user documentation"
One of the feedback we got from the DX team is that there is some room for improvement with our user documentation.
Since we are heading towards a public Beta, I was wondering what your thoughts were about this @verythorough @klavavej?